@use "light";
@use "dark";

$themes: (
    light: light.$theme,
    dark: dark.$theme,
);

// modified from https://medium.com/@dmitriy.borodiy/easy-color-theming-with-scss-bc38fd5734d1
@mixin themify {
    @each $theme, $map in $themes {
        .material-theme--#{$theme} & {
            $theme-map: () !global;
            @each $key, $submap in $map {
                $value: map-get(map-get($themes, $theme), "#{$key}");
                $theme-map: map-merge(
                    $theme-map,
                    (
                        $key: $value,
                    )
                ) !global;
            }

            @content;
            $theme-map: null !global;
        }
    }
}

@function themeValue($theme, $key) {
    @return map-get(map-get($themes, $theme), "#{$key}");
}

@function theme($key) {
    @return map-get($theme-map, $key);
}
