* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

button:not(:disabled) {
    cursor: pointer;
}

input {
    &,
    & + label {
        cursor: pointer;
    }

    &:disabled {
        &,
        & + label {
            cursor: default;
        }
    }
}

label:has(input:not(:disabled), button:not(:disabled)) {
    cursor: pointer;
}
