/* vendors */
/* base */
* {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.material-display--large {
  font-family: "Roboto";
  line-height: 64px;
  font-size: 57px;
  font-weight: 400;
  letter-spacing: -0.25px;
}
.material-display--medium {
  font-family: "Roboto";
  line-height: 52px;
  font-size: 45px;
  font-weight: 400;
  letter-spacing: 0px;
}
.material-display--small {
  font-family: "Roboto";
  line-height: 44px;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 0px;
}
.material-headline--large {
  font-family: "Roboto";
  line-height: 40px;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0px;
}
.material-headline--medium {
  font-family: "Roboto";
  line-height: 36px;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 0px;
}
.material-headline--small {
  font-family: "Roboto";
  line-height: 32px;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0px;
}
.material-title--large {
  font-family: "Roboto";
  line-height: 28px;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0px;
}
.material-title--medium {
  font-family: "Roboto";
  line-height: 24px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.15px;
}
.material-title--small {
  font-family: "Roboto";
  line-height: 20px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.1px;
}
.material-body--large {
  font-family: "Roboto";
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
}
.material-body--medium {
  font-family: "Roboto";
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.25px;
}
.material-body--small {
  font-family: "Roboto";
  line-height: 16px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.4px;
}
.material-label--large {
  font-family: "Roboto";
  line-height: 20px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.1px;
}
.material-label--large--prominent {
  font-weight: 700;
}
.material-label--medium {
  font-family: "Roboto";
  line-height: 16px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.material-label--medium--prominent {
  font-weight: 700;
}
.material-label--small {
  font-family: "Roboto";
  line-height: 16px;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 0.5px;
}
/* layout */
.material-body {
  display: flex;
  flex-direction: column;
}
.material-body.material-theme--light {
  background-color: rgb(254, 247, 255);
  color: rgb(29, 27, 32);
}
.material-body.material-theme--dark {
  background-color: rgb(21, 18, 24);
  color: rgb(231, 224, 232);
}

.material-theme--light .material-container {
  background-color: rgb(254, 247, 255);
  color: rgb(29, 27, 32);
}
.material-theme--dark .material-container {
  background-color: rgb(21, 18, 24);
  color: rgb(231, 224, 232);
}
.material-container--hfill {
  min-height: 100vh;
}
.material-container--wfill {
  min-width: 100vh;
}

/* components */
.material-app-bar {
  display: grid;
  grid-template-columns: auto 1fr auto;
  -moz-column-gap: 4px;
       column-gap: 4px;
  box-sizing: border-box;
  padding: 0 4px;
}
.material-theme--light .material-app-bar {
  background-color: rgb(254, 247, 255);
  color: rgb(29, 27, 32);
}
.material-theme--dark .material-app-bar {
  background-color: rgb(21, 18, 24);
  color: rgb(231, 224, 232);
}
.material-app-bar__icon {
  border: 0;
  font-size: 24px;
  border-radius: 9999px;
  width: 48px;
  height: 48px;
  line-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.material-theme--light .material-app-bar__icon {
  color: rgb(29, 27, 32);
  background-color: transparent;
}
.material-theme--light .material-app-bar__icon:hover {
  color: rgb(29, 27, 32);
  background-color: rgba(29, 27, 32, 0.08);
}
.material-theme--light .material-app-bar__icon:focus {
  color: rgb(29, 27, 32);
  background-color: rgba(29, 27, 32, 0.1);
}
.material-theme--light .material-app-bar__icon:active {
  color: rgb(29, 27, 32);
  background-color: rgba(29, 27, 32, 0.1);
}
.material-theme--dark .material-app-bar__icon {
  color: rgb(231, 224, 232);
  background-color: transparent;
}
.material-theme--dark .material-app-bar__icon:hover {
  color: rgb(231, 224, 232);
  background-color: rgba(231, 224, 232, 0.08);
}
.material-theme--dark .material-app-bar__icon:focus {
  color: rgb(231, 224, 232);
  background-color: rgba(231, 224, 232, 0.1);
}
.material-theme--dark .material-app-bar__icon:active {
  color: rgb(231, 224, 232);
  background-color: rgba(231, 224, 232, 0.1);
}
.material-app-bar__trailing {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 4px;
       column-gap: 4px;
}
.material-theme--light .material-app-bar__trailing .material-app-bar__icon {
  color: rgb(73, 69, 78);
}
.material-theme--dark .material-app-bar__trailing .material-app-bar__icon {
  color: rgb(203, 196, 207);
}
.material-app-bar__headline {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  grid-column: 2;
}
.material-app-bar--center, .material-app-bar--small {
  height: 64px;
  align-items: center;
}
.material-app-bar--center .material-app-bar__headline, .material-app-bar--small .material-app-bar__headline {
  font-family: "Roboto";
  line-height: 28px;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0px;
}
.material-app-bar--center {
  text-align: center;
}
.material-app-bar--medium, .material-app-bar--large {
  grid-template-rows: auto 1fr;
}
.material-app-bar--medium .material-app-bar__icon:has(+ .material-app-bar__headline), .material-app-bar--large .material-app-bar__icon:has(+ .material-app-bar__headline) {
  grid-column: span 2;
}
.material-app-bar--medium .material-app-bar__leading, .material-app-bar--large .material-app-bar__leading {
  grid-column: span 2;
}
.material-app-bar--medium .material-app-bar__headline, .material-app-bar--large .material-app-bar__headline {
  align-content: end;
  grid-column: span 3;
  grid-row: 2;
  padding: 0 12px;
}
.material-app-bar--medium {
  height: 112px;
  padding-bottom: 24px;
}
.material-app-bar--medium .material-app-bar__headline {
  font-family: "Roboto";
  line-height: 32px;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0px;
}
.material-app-bar--large {
  height: 152px;
  padding-bottom: 28px;
}
.material-app-bar--large .material-app-bar__headline {
  font-family: "Roboto";
  line-height: 36px;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 0px;
}
.material-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 9999px;
  padding: 0 24px;
  border: 0;
  cursor: pointer;
  width: -moz-max-content;
  width: max-content;
  gap: 8px;
  font-family: "Roboto";
  line-height: 20px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.1px;
}
.material-button--prominent {
  font-weight: 700;
}
.material-button__icon {
  width: 18px;
  height: 18px;
  line-height: 18px;
  font-size: 18px;
  margin-left: -8px;
}
.material-button:disabled {
  cursor: default;
}
.material-theme--light .material-button--elevated:disabled {
  background-color: rgba(29, 27, 32, 0.12);
  color: rgba(29, 27, 32, 0.38);
}
.material-theme--light .material-button--elevated:not(:disabled) {
  background-color: rgb(248, 241, 250);
  color: rgb(104, 84, 142);
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px 0;
}
.material-theme--light .material-button--elevated:not(:disabled):hover {
  color: rgb(104, 84, 142);
  background-color: #ece4f1;
}
.material-theme--light .material-button--elevated:not(:disabled):focus {
  color: rgb(104, 84, 142);
  background-color: #eae1ef;
}
.material-theme--light .material-button--elevated:not(:disabled):active {
  color: rgb(104, 84, 142);
  background-color: #eae1ef;
}
.material-theme--light .material-button--filled:disabled {
  background-color: rgba(29, 27, 32, 0.12);
  color: rgba(29, 27, 32, 0.38);
}
.material-theme--light .material-button--filled:not(:disabled) {
  background-color: rgb(104, 84, 142);
  color: rgb(255, 255, 255);
}
.material-theme--light .material-button--filled:not(:disabled):hover {
  color: rgb(255, 255, 255);
  background-color: #746297;
}
.material-theme--light .material-button--filled:not(:disabled):focus {
  color: rgb(255, 255, 255);
  background-color: #776599;
}
.material-theme--light .material-button--filled:not(:disabled):active {
  color: rgb(255, 255, 255);
  background-color: #776599;
}
.material-theme--light .material-button--filled:not(:disabled):hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px 0;
}
.material-theme--light .material-button--tonal:disabled {
  background-color: rgba(29, 27, 32, 0.12);
  color: rgba(29, 27, 32, 0.38);
}
.material-theme--light .material-button--tonal:not(:disabled) {
  background-color: rgb(233, 222, 248);
  color: rgb(31, 24, 43);
}
.material-theme--light .material-button--tonal:not(:disabled):hover {
  color: rgb(31, 24, 43);
  background-color: #d9cee8;
}
.material-theme--light .material-button--tonal:not(:disabled):focus {
  color: rgb(31, 24, 43);
  background-color: #d5cae4;
}
.material-theme--light .material-button--tonal:not(:disabled):active {
  color: rgb(31, 24, 43);
  background-color: #d5cae4;
}
.material-theme--light .material-button--tonal:not(:disabled):hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px 0;
}
.material-theme--light .material-button--outlined:disabled {
  color: rgba(29, 27, 32, 0.38);
  background-color: transparent;
}
.material-theme--light .material-button--outlined:not(:disabled) {
  background-color: transparent;
  color: rgb(104, 84, 142);
  border: 1px solid rgb(122, 117, 127);
}
.material-theme--light .material-button--outlined:not(:disabled):hover {
  color: rgb(104, 84, 142);
  background-color: rgba(104, 84, 142, 0.08);
}
.material-theme--light .material-button--outlined:not(:disabled):focus {
  color: rgb(104, 84, 142);
  background-color: rgba(104, 84, 142, 0.1);
}
.material-theme--light .material-button--outlined:not(:disabled):active {
  color: rgb(104, 84, 142);
  background-color: rgba(104, 84, 142, 0.1);
}
.material-theme--light .material-button--text:disabled {
  color: rgba(29, 27, 32, 0.38);
  background-color: transparent;
}
.material-theme--light .material-button--text:not(:disabled) {
  background-color: transparent;
  color: rgb(104, 84, 142);
  color: rgb(104, 84, 142);
}
.material-theme--light .material-button--text:not(:disabled):hover {
  color: rgb(104, 84, 142);
  background-color: rgba(104, 84, 142, 0.08);
}
.material-theme--light .material-button--text:not(:disabled):focus {
  color: rgb(104, 84, 142);
  background-color: rgba(104, 84, 142, 0.1);
}
.material-theme--light .material-button--text:not(:disabled):active {
  color: rgb(104, 84, 142);
  background-color: rgba(104, 84, 142, 0.1);
}
.material-theme--dark .material-button--elevated:disabled {
  background-color: rgba(231, 224, 232, 0.12);
  color: rgba(231, 224, 232, 0.38);
}
.material-theme--dark .material-button--elevated:not(:disabled) {
  background-color: rgb(29, 27, 32);
  color: rgb(211, 188, 253);
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px 0;
}
.material-theme--dark .material-button--elevated:not(:disabled):hover {
  color: rgb(211, 188, 253);
  background-color: #2c2832;
}
.material-theme--dark .material-button--elevated:not(:disabled):focus {
  color: rgb(211, 188, 253);
  background-color: #2f2b36;
}
.material-theme--dark .material-button--elevated:not(:disabled):active {
  color: rgb(211, 188, 253);
  background-color: #2f2b36;
}
.material-theme--dark .material-button--filled:disabled {
  background-color: rgba(231, 224, 232, 0.12);
  color: rgba(231, 224, 232, 0.38);
}
.material-theme--dark .material-button--filled:not(:disabled) {
  background-color: rgb(211, 188, 253);
  color: rgb(56, 38, 92);
}
.material-theme--dark .material-button--filled:not(:disabled):hover {
  color: rgb(56, 38, 92);
  background-color: #c7b0f0;
}
.material-theme--dark .material-button--filled:not(:disabled):focus {
  color: rgb(56, 38, 92);
  background-color: #c4aded;
}
.material-theme--dark .material-button--filled:not(:disabled):active {
  color: rgb(56, 38, 92);
  background-color: #c4aded;
}
.material-theme--dark .material-button--filled:not(:disabled):hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px 0;
}
.material-theme--dark .material-button--tonal:disabled {
  background-color: rgba(231, 224, 232, 0.12);
  color: rgba(231, 224, 232, 0.38);
}
.material-theme--dark .material-button--tonal:not(:disabled) {
  background-color: rgb(75, 67, 88);
  color: rgb(233, 222, 248);
}
.material-theme--dark .material-button--tonal:not(:disabled):hover {
  color: rgb(233, 222, 248);
  background-color: #584f65;
}
.material-theme--dark .material-button--tonal:not(:disabled):focus {
  color: rgb(233, 222, 248);
  background-color: #5b5368;
}
.material-theme--dark .material-button--tonal:not(:disabled):active {
  color: rgb(233, 222, 248);
  background-color: #5b5368;
}
.material-theme--dark .material-button--tonal:not(:disabled):hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px 0;
}
.material-theme--dark .material-button--outlined:disabled {
  color: rgba(231, 224, 232, 0.38);
  background-color: transparent;
}
.material-theme--dark .material-button--outlined:not(:disabled) {
  background-color: transparent;
  color: rgb(211, 188, 253);
  border: 1px solid rgb(148, 143, 153);
}
.material-theme--dark .material-button--outlined:not(:disabled):hover {
  color: rgb(211, 188, 253);
  background-color: rgba(211, 188, 253, 0.08);
}
.material-theme--dark .material-button--outlined:not(:disabled):focus {
  color: rgb(211, 188, 253);
  background-color: rgba(211, 188, 253, 0.1);
}
.material-theme--dark .material-button--outlined:not(:disabled):active {
  color: rgb(211, 188, 253);
  background-color: rgba(211, 188, 253, 0.1);
}
.material-theme--dark .material-button--text:disabled {
  color: rgba(231, 224, 232, 0.38);
  background-color: transparent;
}
.material-theme--dark .material-button--text:not(:disabled) {
  background-color: transparent;
  color: rgb(211, 188, 253);
  color: rgb(211, 188, 253);
}
.material-theme--dark .material-button--text:not(:disabled):hover {
  color: rgb(211, 188, 253);
  background-color: rgba(211, 188, 253, 0.08);
}
.material-theme--dark .material-button--text:not(:disabled):focus {
  color: rgb(211, 188, 253);
  background-color: rgba(211, 188, 253, 0.1);
}
.material-theme--dark .material-button--text:not(:disabled):active {
  color: rgb(211, 188, 253);
  background-color: rgba(211, 188, 253, 0.1);
}

.material-snackbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  border-radius: 4px;
  box-sizing: border-box;
  align-items: center;
  padding: 16px;
  margin: 16px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: "Roboto";
  line-height: 20px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.1px;
}
.material-snackbar--prominent {
  font-weight: 700;
}
.material-snackbar__text {
  grid-row: 1;
  grid-column: 1;
}
.material-snackbar__action {
  grid-row: 1;
  grid-column: 2;
  justify-self: end;
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: transparent;
  margin-right: 0;
  box-sizing: border-box;
  border: 0;
}
.material-snackbar__action:hover {
  cursor: pointer;
}
.material-snackbar__action--long {
  grid-row: 2;
  grid-column: span 2;
}
.material-theme--light .material-snackbar {
  box-shadow: rgba(0, 0, 0, 0.2) 0 6px 9px 0;
  background-color: rgb(50, 47, 53);
}
.material-theme--light .material-snackbar__text {
  color: rgb(245, 239, 247);
}
.material-theme--light .material-snackbar__action {
  color: rgb(211, 188, 253);
}
.material-theme--dark .material-snackbar {
  box-shadow: rgba(0, 0, 0, 0.2) 0 6px 9px 0;
  background-color: rgb(231, 224, 232);
}
.material-theme--dark .material-snackbar__text {
  color: rgb(50, 47, 53);
}
.material-theme--dark .material-snackbar__action {
  color: rgb(104, 84, 142);
}

.material-tabs {
  flex: 1;
}
.material-tabs__nav {
  display: flex;
  flex-wrap: wrap;
}
.material-theme--light .material-tabs__nav {
  background-color: rgb(254, 247, 255);
  border-bottom: 1px solid rgb(203, 196, 207);
}
.material-theme--dark .material-tabs__nav {
  background-color: rgb(21, 18, 24);
  border-bottom: 1px solid rgb(73, 69, 78);
}
.material-tabs__nav-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 0;
  flex: 1;
}
.material-tabs__nav-button:not(:disabled) {
  cursor: pointer;
}
.material-tabs__nav-icon, .material-tabs__nav-text {
  display: flex;
  flex: 1;
  align-self: center;
}
.material-tabs__nav-icon {
  align-items: end;
}
.material-tabs__nav-text {
  width: -moz-max-content;
  width: max-content;
  align-items: center;
  display: grid;
  grid-template-rows: 1fr auto;
  font-family: "Roboto";
  line-height: 20px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.1px;
}
.material-tabs--primary .material-tabs__nav {
  height: 64px;
}
.material-theme--light .material-tabs--primary .material-tabs__nav-button {
  color: rgb(73, 69, 78);
  background-color: transparent;
  color: rgb(29, 27, 32);
}
.material-theme--light .material-tabs--primary .material-tabs__nav-button:focus {
  color: rgb(29, 27, 32);
  background-color: rgba(29, 27, 32, 0.1);
}
.material-theme--light .material-tabs--primary .material-tabs__nav-button .material-tabs__nav-text::after {
  content: "";
  height: 3px;
  display: block;
  border-radius: 9999px 9999px 0 0;
  background-color: transparent;
  min-width: 24px;
  margin: 0 2px;
}
.material-theme--light .material-tabs--primary .material-tabs__nav-button:active {
  color: rgb(29, 27, 32);
  background-color: rgba(104, 84, 142, 0.1);
}
.material-theme--light .material-tabs--primary .material-tabs__nav-button.current {
  background-color: transparent;
  color: rgb(104, 84, 142);
}
.material-theme--light .material-tabs--primary .material-tabs__nav-button.current:hover {
  color: rgb(104, 84, 142);
  background-color: rgba(104, 84, 142, 0.08);
}
.material-theme--light .material-tabs--primary .material-tabs__nav-button.current:focus {
  color: rgb(104, 84, 142);
  background-color: rgba(104, 84, 142, 0.1);
}
.material-theme--light .material-tabs--primary .material-tabs__nav-button.current:active {
  color: rgb(104, 84, 142);
  background-color: rgba(104, 84, 142, 0.1);
}
.material-theme--light .material-tabs--primary .material-tabs__nav-button.current .material-tabs__nav-text::after {
  content: "";
  height: 3px;
  display: block;
  border-radius: 9999px 9999px 0 0;
  background-color: rgb(104, 84, 142);
  min-width: 24px;
  margin: 0 2px;
}
.material-theme--light .material-tabs--primary .material-tabs__nav-button.current:focus .material-tabs__nav-text::after {
  content: "";
  height: 3px;
  display: block;
  border-radius: 9999px 9999px 0 0;
  background-color: rgb(99, 91, 112);
  min-width: 24px;
  margin: 0 2px;
}
.material-theme--dark .material-tabs--primary .material-tabs__nav-button {
  color: rgb(203, 196, 207);
  background-color: transparent;
  color: rgb(231, 224, 232);
}
.material-theme--dark .material-tabs--primary .material-tabs__nav-button:focus {
  color: rgb(231, 224, 232);
  background-color: rgba(231, 224, 232, 0.1);
}
.material-theme--dark .material-tabs--primary .material-tabs__nav-button .material-tabs__nav-text::after {
  content: "";
  height: 3px;
  display: block;
  border-radius: 9999px 9999px 0 0;
  background-color: transparent;
  min-width: 24px;
  margin: 0 2px;
}
.material-theme--dark .material-tabs--primary .material-tabs__nav-button:active {
  color: rgb(231, 224, 232);
  background-color: rgba(211, 188, 253, 0.1);
}
.material-theme--dark .material-tabs--primary .material-tabs__nav-button.current {
  background-color: transparent;
  color: rgb(211, 188, 253);
}
.material-theme--dark .material-tabs--primary .material-tabs__nav-button.current:hover {
  color: rgb(211, 188, 253);
  background-color: rgba(211, 188, 253, 0.08);
}
.material-theme--dark .material-tabs--primary .material-tabs__nav-button.current:focus {
  color: rgb(211, 188, 253);
  background-color: rgba(211, 188, 253, 0.1);
}
.material-theme--dark .material-tabs--primary .material-tabs__nav-button.current:active {
  color: rgb(211, 188, 253);
  background-color: rgba(211, 188, 253, 0.1);
}
.material-theme--dark .material-tabs--primary .material-tabs__nav-button.current .material-tabs__nav-text::after {
  content: "";
  height: 3px;
  display: block;
  border-radius: 9999px 9999px 0 0;
  background-color: rgb(211, 188, 253);
  min-width: 24px;
  margin: 0 2px;
}
.material-theme--dark .material-tabs--primary .material-tabs__nav-button.current:focus .material-tabs__nav-text::after {
  content: "";
  height: 3px;
  display: block;
  border-radius: 9999px 9999px 0 0;
  background-color: rgb(205, 194, 219);
  min-width: 24px;
  margin: 0 2px;
}
.material-tabs--secondary .material-tabs__nav {
  height: 48px;
}
.material-theme--light .material-tabs--secondary .material-tabs__nav-button {
  color: rgb(73, 69, 78);
  background-color: transparent;
}
.material-theme--light .material-tabs--secondary .material-tabs__nav-button:hover {
  color: rgb(29, 27, 32);
  background-color: rgba(29, 27, 32, 0.08);
}
.material-theme--light .material-tabs--secondary .material-tabs__nav-button:focus {
  color: rgb(29, 27, 32);
  background-color: rgba(29, 27, 32, 0.1);
}
.material-theme--light .material-tabs--secondary .material-tabs__nav-button:active {
  color: rgb(29, 27, 32);
  background-color: rgba(29, 27, 32, 0.1);
}
.material-theme--light .material-tabs--secondary .material-tabs__nav-button.current {
  color: rgb(29, 27, 32);
  box-shadow: inset 0px -3px 0px 0px rgb(104, 84, 142);
}
.material-theme--light .material-tabs--secondary .material-tabs__nav-button.current:focus {
  box-shadow: inset 0px -3px 0px 0px rgb(99, 91, 112);
}
.material-theme--dark .material-tabs--secondary .material-tabs__nav-button {
  color: rgb(203, 196, 207);
  background-color: transparent;
}
.material-theme--dark .material-tabs--secondary .material-tabs__nav-button:hover {
  color: rgb(231, 224, 232);
  background-color: rgba(231, 224, 232, 0.08);
}
.material-theme--dark .material-tabs--secondary .material-tabs__nav-button:focus {
  color: rgb(231, 224, 232);
  background-color: rgba(231, 224, 232, 0.1);
}
.material-theme--dark .material-tabs--secondary .material-tabs__nav-button:active {
  color: rgb(231, 224, 232);
  background-color: rgba(231, 224, 232, 0.1);
}
.material-theme--dark .material-tabs--secondary .material-tabs__nav-button.current {
  color: rgb(231, 224, 232);
  box-shadow: inset 0px -3px 0px 0px rgb(211, 188, 253);
}
.material-theme--dark .material-tabs--secondary .material-tabs__nav-button.current:focus {
  box-shadow: inset 0px -3px 0px 0px rgb(205, 194, 219);
}
.material-tabs__page {
  display: none;
}
.material-tabs__page.current {
  display: block;
}

/* pages */
/* themes */