/* vendors */
/* base */
* {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

[data-md-typescale=display-large] {
  font-family: "Roboto";
  line-height: 64px;
  font-size: 57px;
  letter-spacing: -0.25px;
  font-weight: 400;
}

[data-md-typescale=display-medium] {
  font-family: "Roboto";
  line-height: 52px;
  font-size: 45px;
  letter-spacing: 0px;
  font-weight: 400;
}

[data-md-typescale=display-small] {
  font-family: "Roboto";
  line-height: 44px;
  font-size: 36px;
  letter-spacing: 0px;
  font-weight: 400;
}

[data-md-typescale=headline-large] {
  font-family: "Roboto";
  line-height: 40px;
  font-size: 32px;
  letter-spacing: 0px;
  font-weight: 400;
}

[data-md-typescale=headline-medium] {
  font-family: "Roboto";
  line-height: 36px;
  font-size: 28px;
  letter-spacing: 0px;
  font-weight: 400;
}

[data-md-typescale=headline-small] {
  font-family: "Roboto";
  line-height: 32px;
  font-size: 24px;
  letter-spacing: 0px;
  font-weight: 400;
}

[data-md-typescale=title-large] {
  font-family: "Roboto";
  line-height: 28px;
  font-size: 22px;
  letter-spacing: 0px;
  font-weight: 400;
}

[data-md-typescale=title-medium] {
  font-family: "Roboto";
  line-height: 24px;
  font-size: 16px;
  letter-spacing: 0.15px;
  font-weight: 500;
}

[data-md-typescale=title-small] {
  font-family: "Roboto";
  line-height: 20px;
  font-size: 14px;
  letter-spacing: 0.1px;
  font-weight: 500;
}

[data-md-typescale=body-large] {
  font-family: "Roboto";
  line-height: 24px;
  font-size: 16px;
  letter-spacing: 0.5px;
  font-weight: 400;
}

[data-md-typescale=body-medium] {
  font-family: "Roboto";
  line-height: 20px;
  font-size: 14px;
  letter-spacing: 0.25px;
  font-weight: 400;
}

[data-md-typescale=body-small] {
  font-family: "Roboto";
  line-height: 16px;
  font-size: 12px;
  letter-spacing: 0.4px;
  font-weight: 400;
}

[data-md-typescale=label-large] {
  font-family: "Roboto";
  line-height: 20px;
  font-size: 14px;
  letter-spacing: 0.1px;
  font-weight: 500;
}

[data-md-typescale=label-medium] {
  font-family: "Roboto";
  line-height: 16px;
  font-size: 12px;
  letter-spacing: 0.5px;
  font-weight: 500;
}

[data-md-typescale=label-small] {
  font-family: "Roboto";
  line-height: 16px;
  font-size: 11px;
  letter-spacing: 0.5px;
  font-weight: 500;
}

/* layout */
.md-body {
  display: flex;
  flex-direction: column;
}
.md-body[data-md-theme=light] {
  background-color: rgb(242, 236, 244);
  color: rgb(29, 27, 32);
}
.md-body[data-md-theme=dark] {
  background-color: rgb(33, 31, 36);
  color: rgb(231, 224, 232);
}
.md-body[data-md-color=surface][data-md-theme=light] {
  background-color: rgb(254, 247, 255);
  color: rgb(29, 27, 32);
}
.md-body[data-md-color=surface][data-md-theme=dark] {
  background-color: rgb(21, 18, 24);
  color: rgb(231, 224, 232);
}
.md-body[data-md-color=surface-variant][data-md-theme=light] {
  background-color: rgb(231, 224, 235);
  color: rgb(73, 69, 78);
}
.md-body[data-md-color=surface-variant][data-md-theme=dark] {
  background-color: rgb(73, 69, 78);
  color: rgb(203, 196, 207);
}
.md-body[data-md-color=background][data-md-theme=light] {
  background-color: rgb(254, 247, 255);
  color: rgb(29, 27, 32);
}
.md-body[data-md-color=background][data-md-theme=dark] {
  background-color: rgb(21, 18, 24);
  color: rgb(231, 224, 232);
}

.md-fixed {
  position: fixed;
  display: flex;
  gap: 8px;
  align-items: center;
}
.md-fixed[data-md-lr=left] {
  left: 16px;
}
.md-fixed[data-md-lr=right] {
  right: 16px;
}
.md-fixed[data-md-tb=top] {
  top: 16px;
}
.md-fixed[data-md-tb=bottom] {
  bottom: 16px;
}
.md-fixed[data-md-direction=vertical] {
  flex-direction: column;
}
.md-fixed[data-md-direction=vertical].md-fixed--reverse {
  flex-direction: column-reverse;
}
.md-fixed[data-md-direction=horizontal] {
  flex-direction: row;
}
.md-fixed[data-md-direction=horizontal].md-fixed--reverse {
  flex-direction: row-reverse;
}

.md-pane {
  overflow: hidden;
  margin: 24px;
  border-radius: 16px;
}
[data-md-theme=light] .md-pane {
  background-color: rgb(254, 247, 255);
  color: rgb(29, 27, 32);
}
[data-md-theme=dark] .md-pane {
  background-color: rgb(21, 18, 24);
  color: rgb(231, 224, 232);
}
.md-pane__content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
  padding: 24px;
}
.md-pane__content--fill {
  padding: 0;
}
.md-pane--fill {
  margin: 0;
}

/* components */
.md-app-bar {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 4px;
  box-sizing: border-box;
  padding: 4px;
  height: 64px;
  align-items: center;
}
[data-md-theme=light] .md-app-bar {
  background-color: rgb(254, 247, 255);
  color: rgb(29, 27, 32);
}
[data-md-theme=dark] .md-app-bar {
  background-color: rgb(21, 18, 24);
  color: rgb(231, 224, 232);
}
.md-app-bar__icon {
  grid-row: 1;
  border: 0;
  font-size: 24px;
  border-radius: 9999px;
  width: 48px;
  height: 48px;
  line-height: 48px;
}
[data-md-theme=light] .md-app-bar__icon {
  color: rgb(29, 27, 32);
  background-color: transparent;
}
[data-md-theme=light] .md-app-bar__icon:hover {
  color: rgb(29, 27, 32);
  background-color: rgba(29, 27, 32, 0.08);
}
[data-md-theme=light] .md-app-bar__icon:focus {
  color: rgb(29, 27, 32);
  background-color: rgba(29, 27, 32, 0.1);
}
[data-md-theme=light] .md-app-bar__icon:active {
  color: rgb(29, 27, 32);
  background-color: rgba(29, 27, 32, 0.1);
}
[data-md-theme=dark] .md-app-bar__icon {
  color: rgb(231, 224, 232);
  background-color: transparent;
}
[data-md-theme=dark] .md-app-bar__icon:hover {
  color: rgb(231, 224, 232);
  background-color: rgba(231, 224, 232, 0.08);
}
[data-md-theme=dark] .md-app-bar__icon:focus {
  color: rgb(231, 224, 232);
  background-color: rgba(231, 224, 232, 0.1);
}
[data-md-theme=dark] .md-app-bar__icon:active {
  color: rgb(231, 224, 232);
  background-color: rgba(231, 224, 232, 0.1);
}
.md-app-bar__headline {
  grid-row: 1;
  grid-column: 2;
  font-family: "Roboto";
  line-height: 28px;
  font-size: 22px;
  letter-spacing: 0px;
  font-weight: 400;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.md-app-bar__headline:first-child {
  margin: 0 16px;
}
.md-app-bar__trailing {
  grid-column: 3;
  display: flex;
  flex-direction: row;
  gap: 4px;
}
[data-md-theme=light] .md-app-bar__trailing .md-app-bar__icon {
  color: rgb(73, 69, 78);
}
[data-md-theme=dark] .md-app-bar__trailing .md-app-bar__icon {
  color: rgb(203, 196, 207);
}
.md-app-bar[data-md-type=center] {
  text-align: center;
}
.md-app-bar[data-md-type=medium], .md-app-bar[data-md-type=large] {
  grid-template-rows: auto 1fr;
  align-items: end;
}
.md-app-bar[data-md-type=medium] .md-app-bar__icon:first-child, .md-app-bar[data-md-type=large] .md-app-bar__icon:first-child {
  grid-column: span 2;
}
.md-app-bar[data-md-type=medium] .md-app-bar__headline, .md-app-bar[data-md-type=large] .md-app-bar__headline {
  grid-column: span 3;
  grid-row: 2;
  align-content: end;
  margin: 0 16px;
}
.md-app-bar[data-md-type=medium] {
  height: 112px;
  padding-bottom: 24px;
}
.md-app-bar[data-md-type=medium] .md-app-bar__headline {
  font-family: "Roboto";
  line-height: 32px;
  font-size: 24px;
  letter-spacing: 0px;
  font-weight: 400;
}
.md-app-bar[data-md-type=large] {
  height: 152px;
  padding-bottom: 28px;
}
.md-app-bar[data-md-type=large] .md-app-bar__headline {
  font-family: "Roboto";
  line-height: 36px;
  font-size: 28px;
  letter-spacing: 0px;
  font-weight: 400;
}

.md-banner {
  display: none;
  grid-template-rows: 2;
  grid-template-columns: auto 1fr;
  padding: 16px;
  padding-right: 24px;
  gap: 16px;
  font-family: "Roboto";
  line-height: 20px;
  font-size: 14px;
  letter-spacing: 0.1px;
  font-weight: 500;
}
[data-md-theme=light] .md-banner {
  border-bottom: 1px solid rgb(203, 196, 207);
  color: rgb(29, 27, 32);
  background-color: rgb(242, 236, 244);
}
[data-md-theme=dark] .md-banner {
  border-bottom: 1px solid rgb(73, 69, 78);
  color: rgb(231, 224, 232);
  background-color: rgb(33, 31, 36);
}
.md-banner--visible {
  display: grid;
}
.md-banner__icon {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 56px;
  width: 56px;
  height: 56px;
  line-height: 56px;
  grid-column: 1;
  grid-row: span 2;
}
.md-banner__text {
  grid-column: 2;
  grid-row: 1;
  padding-top: 8px;
}
.md-banner__actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 32px;
  grid-column: 2;
  grid-row: 2;
}
.md-banner__action {
  background-color: transparent;
  border: 0;
  font-family: "Roboto";
  line-height: 20px;
  font-size: 14px;
  letter-spacing: 0.1px;
  font-weight: 500;
}
[data-md-theme=light] .md-banner__action {
  color: rgb(104, 84, 142);
}
[data-md-theme=dark] .md-banner__action {
  color: rgb(211, 188, 253);
}
.md-banner__action:hover {
  cursor: pointer;
}

.md-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40px;
  line-height: 40px;
  width: -moz-max-content;
  width: max-content;
  padding: 0 24px;
  gap: 8px;
  border: 0;
  border-radius: 9999px;
  font-family: "Roboto";
  line-height: 20px;
  font-size: 14px;
  letter-spacing: 0.1px;
  font-weight: 500;
  cursor: pointer;
}
.md-button__icon {
  width: 18px;
  height: 18px;
  line-height: 18px;
  font-size: 18px;
  margin-left: -8px;
}
.md-button:disabled {
  cursor: default;
}
[data-md-theme=light] .md-button[data-md-type=elevated]:disabled {
  background-color: rgba(29, 27, 32, 0.12);
  color: rgba(29, 27, 32, 0.38);
}
[data-md-theme=light] .md-button[data-md-type=elevated]:not(:disabled) {
  background-color: rgb(248, 241, 250);
  color: rgb(104, 84, 142);
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px 0;
}
[data-md-theme=light] .md-button[data-md-type=elevated]:not(:disabled):hover {
  color: rgb(104, 84, 142);
  background-color: #ece4f1;
}
[data-md-theme=light] .md-button[data-md-type=elevated]:not(:disabled):focus {
  color: rgb(104, 84, 142);
  background-color: #eae1ef;
}
[data-md-theme=light] .md-button[data-md-type=elevated]:not(:disabled):active {
  color: rgb(104, 84, 142);
  background-color: #eae1ef;
}
[data-md-theme=light] .md-button[data-md-type=filled]:disabled {
  background-color: rgba(29, 27, 32, 0.12);
  color: rgba(29, 27, 32, 0.38);
}
[data-md-theme=light] .md-button[data-md-type=filled]:not(:disabled) {
  background-color: rgb(104, 84, 142);
  color: rgb(255, 255, 255);
}
[data-md-theme=light] .md-button[data-md-type=filled]:not(:disabled):hover {
  color: rgb(255, 255, 255);
  background-color: #746297;
}
[data-md-theme=light] .md-button[data-md-type=filled]:not(:disabled):focus {
  color: rgb(255, 255, 255);
  background-color: #776599;
}
[data-md-theme=light] .md-button[data-md-type=filled]:not(:disabled):active {
  color: rgb(255, 255, 255);
  background-color: #776599;
}
[data-md-theme=light] .md-button[data-md-type=filled]:not(:disabled):hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px 0;
}
[data-md-theme=light] .md-button[data-md-type=tonal]:disabled {
  background-color: rgba(29, 27, 32, 0.12);
  color: rgba(29, 27, 32, 0.38);
}
[data-md-theme=light] .md-button[data-md-type=tonal]:not(:disabled) {
  background-color: rgb(233, 222, 248);
  color: rgb(31, 24, 43);
}
[data-md-theme=light] .md-button[data-md-type=tonal]:not(:disabled):hover {
  color: rgb(31, 24, 43);
  background-color: #d9cee8;
}
[data-md-theme=light] .md-button[data-md-type=tonal]:not(:disabled):focus {
  color: rgb(31, 24, 43);
  background-color: #d5cae4;
}
[data-md-theme=light] .md-button[data-md-type=tonal]:not(:disabled):active {
  color: rgb(31, 24, 43);
  background-color: #d5cae4;
}
[data-md-theme=light] .md-button[data-md-type=tonal]:not(:disabled):hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px 0;
}
[data-md-theme=light] .md-button[data-md-type=outlined]:disabled {
  color: rgba(29, 27, 32, 0.38);
  background-color: transparent;
}
[data-md-theme=light] .md-button[data-md-type=outlined]:not(:disabled) {
  background-color: transparent;
  color: rgb(104, 84, 142);
  border: 1px solid rgb(122, 117, 127);
}
[data-md-theme=light] .md-button[data-md-type=outlined]:not(:disabled):hover {
  color: rgb(104, 84, 142);
  background-color: rgba(104, 84, 142, 0.08);
}
[data-md-theme=light] .md-button[data-md-type=outlined]:not(:disabled):focus {
  color: rgb(104, 84, 142);
  background-color: rgba(104, 84, 142, 0.1);
}
[data-md-theme=light] .md-button[data-md-type=outlined]:not(:disabled):active {
  color: rgb(104, 84, 142);
  background-color: rgba(104, 84, 142, 0.1);
}
[data-md-theme=light] .md-button[data-md-type=text]:disabled {
  color: rgba(29, 27, 32, 0.38);
  background-color: transparent;
}
[data-md-theme=light] .md-button[data-md-type=text]:not(:disabled) {
  background-color: transparent;
  color: rgb(104, 84, 142);
  color: rgb(104, 84, 142);
}
[data-md-theme=light] .md-button[data-md-type=text]:not(:disabled):hover {
  color: rgb(104, 84, 142);
  background-color: rgba(104, 84, 142, 0.08);
}
[data-md-theme=light] .md-button[data-md-type=text]:not(:disabled):focus {
  color: rgb(104, 84, 142);
  background-color: rgba(104, 84, 142, 0.1);
}
[data-md-theme=light] .md-button[data-md-type=text]:not(:disabled):active {
  color: rgb(104, 84, 142);
  background-color: rgba(104, 84, 142, 0.1);
}
[data-md-theme=dark] .md-button[data-md-type=elevated]:disabled {
  background-color: rgba(231, 224, 232, 0.12);
  color: rgba(231, 224, 232, 0.38);
}
[data-md-theme=dark] .md-button[data-md-type=elevated]:not(:disabled) {
  background-color: rgb(29, 27, 32);
  color: rgb(211, 188, 253);
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px 0;
}
[data-md-theme=dark] .md-button[data-md-type=elevated]:not(:disabled):hover {
  color: rgb(211, 188, 253);
  background-color: #2c2832;
}
[data-md-theme=dark] .md-button[data-md-type=elevated]:not(:disabled):focus {
  color: rgb(211, 188, 253);
  background-color: #2f2b36;
}
[data-md-theme=dark] .md-button[data-md-type=elevated]:not(:disabled):active {
  color: rgb(211, 188, 253);
  background-color: #2f2b36;
}
[data-md-theme=dark] .md-button[data-md-type=filled]:disabled {
  background-color: rgba(231, 224, 232, 0.12);
  color: rgba(231, 224, 232, 0.38);
}
[data-md-theme=dark] .md-button[data-md-type=filled]:not(:disabled) {
  background-color: rgb(211, 188, 253);
  color: rgb(56, 38, 92);
}
[data-md-theme=dark] .md-button[data-md-type=filled]:not(:disabled):hover {
  color: rgb(56, 38, 92);
  background-color: #c7b0f0;
}
[data-md-theme=dark] .md-button[data-md-type=filled]:not(:disabled):focus {
  color: rgb(56, 38, 92);
  background-color: #c4aded;
}
[data-md-theme=dark] .md-button[data-md-type=filled]:not(:disabled):active {
  color: rgb(56, 38, 92);
  background-color: #c4aded;
}
[data-md-theme=dark] .md-button[data-md-type=filled]:not(:disabled):hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px 0;
}
[data-md-theme=dark] .md-button[data-md-type=tonal]:disabled {
  background-color: rgba(231, 224, 232, 0.12);
  color: rgba(231, 224, 232, 0.38);
}
[data-md-theme=dark] .md-button[data-md-type=tonal]:not(:disabled) {
  background-color: rgb(75, 67, 88);
  color: rgb(233, 222, 248);
}
[data-md-theme=dark] .md-button[data-md-type=tonal]:not(:disabled):hover {
  color: rgb(233, 222, 248);
  background-color: #584f65;
}
[data-md-theme=dark] .md-button[data-md-type=tonal]:not(:disabled):focus {
  color: rgb(233, 222, 248);
  background-color: #5b5368;
}
[data-md-theme=dark] .md-button[data-md-type=tonal]:not(:disabled):active {
  color: rgb(233, 222, 248);
  background-color: #5b5368;
}
[data-md-theme=dark] .md-button[data-md-type=tonal]:not(:disabled):hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px 0;
}
[data-md-theme=dark] .md-button[data-md-type=outlined]:disabled {
  color: rgba(231, 224, 232, 0.38);
  background-color: transparent;
}
[data-md-theme=dark] .md-button[data-md-type=outlined]:not(:disabled) {
  background-color: transparent;
  color: rgb(211, 188, 253);
  border: 1px solid rgb(148, 143, 153);
}
[data-md-theme=dark] .md-button[data-md-type=outlined]:not(:disabled):hover {
  color: rgb(211, 188, 253);
  background-color: rgba(211, 188, 253, 0.08);
}
[data-md-theme=dark] .md-button[data-md-type=outlined]:not(:disabled):focus {
  color: rgb(211, 188, 253);
  background-color: rgba(211, 188, 253, 0.1);
}
[data-md-theme=dark] .md-button[data-md-type=outlined]:not(:disabled):active {
  color: rgb(211, 188, 253);
  background-color: rgba(211, 188, 253, 0.1);
}
[data-md-theme=dark] .md-button[data-md-type=text]:disabled {
  color: rgba(231, 224, 232, 0.38);
  background-color: transparent;
}
[data-md-theme=dark] .md-button[data-md-type=text]:not(:disabled) {
  background-color: transparent;
  color: rgb(211, 188, 253);
  color: rgb(211, 188, 253);
}
[data-md-theme=dark] .md-button[data-md-type=text]:not(:disabled):hover {
  color: rgb(211, 188, 253);
  background-color: rgba(211, 188, 253, 0.08);
}
[data-md-theme=dark] .md-button[data-md-type=text]:not(:disabled):focus {
  color: rgb(211, 188, 253);
  background-color: rgba(211, 188, 253, 0.1);
}
[data-md-theme=dark] .md-button[data-md-type=text]:not(:disabled):active {
  color: rgb(211, 188, 253);
  background-color: rgba(211, 188, 253, 0.1);
}

.md-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 16px;
  border-radius: 12px;
  padding: 16px;
  margin: 16px;
}
[data-md-theme=light] .md-card {
  color: rgb(29, 27, 32);
}
[data-md-theme=light] .md-card[data-md-type=elevated] {
  background-color: rgb(248, 241, 250);
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px 0;
}
[data-md-theme=light] .md-card[data-md-type=elevated]:hover {
  background-color: #e6e0e9;
}
[data-md-theme=light] .md-card[data-md-type=elevated]:focus {
  background-color: #e2dce4;
}
[data-md-theme=light] .md-card[data-md-type=elevated]:active {
  background-color: #e2dce4;
}
[data-md-theme=light] .md-card[data-md-type=elevated]:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 4px 0;
}
[data-md-theme=light] .md-card[data-md-type=filled]:hover, [data-md-theme=light] .md-card[data-md-type=outlined]:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px 0;
}
[data-md-theme=light] .md-card[data-md-type=filled] {
  background-color: rgb(231, 224, 232);
}
[data-md-theme=light] .md-card[data-md-type=filled]:hover {
  background-color: #d7d0d8;
}
[data-md-theme=light] .md-card[data-md-type=filled]:focus {
  background-color: #d3ccd4;
}
[data-md-theme=light] .md-card[data-md-type=filled]:active {
  background-color: #d3ccd4;
}
[data-md-theme=light] .md-card[data-md-type=outlined] {
  border: 1px solid rgb(203, 196, 207);
  background-color: rgb(254, 247, 255);
}
[data-md-theme=light] .md-card[data-md-type=outlined]:hover {
  background-color: #ece5ed;
}
[data-md-theme=light] .md-card[data-md-type=outlined]:focus {
  background-color: #e8e1e9;
}
[data-md-theme=light] .md-card[data-md-type=outlined]:active {
  background-color: #e8e1e9;
}
[data-md-theme=light] .md-card--disabled {
  background-color: rgba(254, 247, 255, 0.38);
}
[data-md-theme=dark] .md-card {
  color: rgb(231, 224, 232);
}
[data-md-theme=dark] .md-card[data-md-type=elevated] {
  background-color: rgb(29, 27, 32);
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px 0;
}
[data-md-theme=dark] .md-card[data-md-type=elevated]:hover {
  background-color: #2d2b30;
}
[data-md-theme=dark] .md-card[data-md-type=elevated]:focus {
  background-color: #312f34;
}
[data-md-theme=dark] .md-card[data-md-type=elevated]:active {
  background-color: #312f34;
}
[data-md-theme=dark] .md-card[data-md-type=elevated]:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 4px 0;
}
[data-md-theme=dark] .md-card[data-md-type=filled]:hover, [data-md-theme=dark] .md-card[data-md-type=outlined]:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px 0;
}
[data-md-theme=dark] .md-card[data-md-type=filled] {
  background-color: rgb(54, 52, 58);
}
[data-md-theme=dark] .md-card[data-md-type=filled]:hover {
  background-color: #444248;
}
[data-md-theme=dark] .md-card[data-md-type=filled]:focus {
  background-color: #48454b;
}
[data-md-theme=dark] .md-card[data-md-type=filled]:active {
  background-color: #48454b;
}
[data-md-theme=dark] .md-card[data-md-type=outlined] {
  border: 1px solid rgb(73, 69, 78);
  background-color: rgb(21, 18, 24);
}
[data-md-theme=dark] .md-card[data-md-type=outlined]:hover {
  background-color: #262229;
}
[data-md-theme=dark] .md-card[data-md-type=outlined]:focus {
  background-color: #2a272d;
}
[data-md-theme=dark] .md-card[data-md-type=outlined]:active {
  background-color: #2a272d;
}
[data-md-theme=dark] .md-card--disabled {
  background-color: rgba(21, 18, 24, 0.38);
}
.md-card__row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}

.md-checkbox {
  display: flex;
  flex-direction: row;
}
[data-md-theme=light] .md-checkbox {
  color: rgb(29, 27, 32);
}
[data-md-theme=dark] .md-checkbox {
  color: rgb(231, 224, 232);
}
[data-md-theme=light] .md-checkbox input[type=checkbox] {
  accent-color: rgb(104, 84, 142);
}
[data-md-theme=light] .md-checkbox input[type=checkbox]:disabled {
  accent-color: rgba(29, 27, 32, 0.38);
}
[data-md-theme=dark] .md-checkbox input[type=checkbox] {
  accent-color: rgb(211, 188, 253);
}
[data-md-theme=dark] .md-checkbox input[type=checkbox]:disabled {
  accent-color: rgba(231, 224, 232, 0.38);
}
.md-checkbox label {
  padding-left: 16px;
}

.md-fab {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  line-height: 56px;
  gap: 8px;
  border: 0;
  border-radius: 16px;
}
[data-md-theme=light] .md-fab {
  box-shadow: rgba(0, 0, 0, 0.2) 0 6px 9px 0;
  background-color: rgb(237, 230, 238);
  color: rgb(104, 84, 142);
}
[data-md-theme=light] .md-fab:hover {
  color: rgb(104, 84, 142);
  background-color: #e2dae6;
}
[data-md-theme=light] .md-fab:focus {
  color: rgb(104, 84, 142);
  background-color: #e0d7e4;
}
[data-md-theme=light] .md-fab:active {
  color: rgb(104, 84, 142);
  background-color: #e0d7e4;
}
[data-md-theme=dark] .md-fab {
  box-shadow: rgba(0, 0, 0, 0.2) 0 6px 9px 0;
  background-color: rgb(44, 41, 47);
  color: rgb(211, 188, 253);
}
[data-md-theme=dark] .md-fab:hover {
  color: rgb(211, 188, 253);
  background-color: #39353f;
}
[data-md-theme=dark] .md-fab:focus {
  color: rgb(211, 188, 253);
  background-color: #3d3844;
}
[data-md-theme=dark] .md-fab:active {
  color: rgb(211, 188, 253);
  background-color: #3d3844;
}
.md-fab:hover {
  cursor: pointer;
}
[data-md-theme=light] .md-fab:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0 8px 12px 0;
}
[data-md-theme=dark] .md-fab:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0 8px 12px 0;
}
[data-md-theme=light] .md-fab:focus, [data-md-theme=light] .md-fab:active {
  box-shadow: rgba(0, 0, 0, 0.2) 0 6px 9px 0;
}
[data-md-theme=dark] .md-fab:focus, [data-md-theme=dark] .md-fab:active {
  box-shadow: rgba(0, 0, 0, 0.2) 0 6px 9px 0;
}
.md-fab__icon {
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 24px;
}
.md-fab__text {
  display: none;
  font-family: "Roboto";
  line-height: 20px;
  font-size: 14px;
  letter-spacing: 0.1px;
  font-weight: 500;
}
[data-md-theme=light] .md-fab--low {
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px 0;
  background-color: rgb(248, 241, 250);
  color: rgb(104, 84, 142);
}
[data-md-theme=light] .md-fab--low:hover {
  color: rgb(104, 84, 142);
  background-color: #ece4f1;
}
[data-md-theme=light] .md-fab--low:focus {
  color: rgb(104, 84, 142);
  background-color: #eae1ef;
}
[data-md-theme=light] .md-fab--low:active {
  color: rgb(104, 84, 142);
  background-color: #eae1ef;
}
[data-md-theme=light] .md-fab--low:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 4px 0;
}
[data-md-theme=light] .md-fab--low:focus, [data-md-theme=light] .md-fab--low:active {
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px 0;
}
[data-md-theme=dark] .md-fab--low {
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px 0;
  background-color: rgb(29, 27, 32);
  color: rgb(211, 188, 253);
}
[data-md-theme=dark] .md-fab--low:hover {
  color: rgb(211, 188, 253);
  background-color: #2c2832;
}
[data-md-theme=dark] .md-fab--low:focus {
  color: rgb(211, 188, 253);
  background-color: #2f2b36;
}
[data-md-theme=dark] .md-fab--low:active {
  color: rgb(211, 188, 253);
  background-color: #2f2b36;
}
[data-md-theme=dark] .md-fab--low:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 4px 0;
}
[data-md-theme=dark] .md-fab--low:focus, [data-md-theme=dark] .md-fab--low:active {
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px 0;
}
.md-fab[data-md-size=small]:not(.md-fab--branded) {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 12px;
}
.md-fab[data-md-size=large] .md-fab__icon, .md-fab--branded .md-fab__icon {
  width: 36px;
  height: 36px;
  line-height: 36px;
  font-size: 36px;
}
.md-fab[data-md-size=large] {
  width: 96px;
  height: 96px;
  line-height: 96px;
  border-radius: 28px;
}
.md-fab[data-md-size=large] .md-fab--branded .md-fab__icon {
  width: 48px;
  height: 48px;
  line-height: 48px;
  font-size: 48px;
}
.md-fab[data-md-size=extended] {
  min-width: 80px;
  width: auto;
  padding: 0 16px;
}
.md-fab[data-md-size=extended] .md-fab__text {
  display: initial;
}
[data-md-theme=light] .md-fab[data-md-color=primary] {
  background-color: rgb(235, 221, 255);
  color: rgb(35, 15, 70);
}
[data-md-theme=light] .md-fab[data-md-color=primary]:hover {
  color: rgb(35, 15, 70);
  background-color: #dbcdf0;
}
[data-md-theme=light] .md-fab[data-md-color=primary]:focus {
  color: rgb(35, 15, 70);
  background-color: #d7c8ed;
}
[data-md-theme=light] .md-fab[data-md-color=primary]:active {
  color: rgb(35, 15, 70);
  background-color: #d7c8ed;
}
[data-md-theme=light] .md-fab[data-md-color=secondary] {
  background-color: rgb(233, 222, 248);
  color: rgb(31, 24, 43);
}
[data-md-theme=light] .md-fab[data-md-color=secondary]:hover {
  color: rgb(31, 24, 43);
  background-color: #d9cee8;
}
[data-md-theme=light] .md-fab[data-md-color=secondary]:focus {
  color: rgb(31, 24, 43);
  background-color: #d5cae4;
}
[data-md-theme=light] .md-fab[data-md-color=secondary]:active {
  color: rgb(31, 24, 43);
  background-color: #d5cae4;
}
[data-md-theme=light] .md-fab[data-md-color=tertiary] {
  background-color: rgb(255, 217, 225);
  color: rgb(49, 16, 27);
}
[data-md-theme=light] .md-fab[data-md-color=tertiary]:hover {
  color: rgb(49, 16, 27);
  background-color: #efc9d1;
}
[data-md-theme=light] .md-fab[data-md-color=tertiary]:focus {
  color: rgb(49, 16, 27);
  background-color: #eac5cd;
}
[data-md-theme=light] .md-fab[data-md-color=tertiary]:active {
  color: rgb(49, 16, 27);
  background-color: #eac5cd;
}
[data-md-theme=dark] .md-fab[data-md-color=primary] {
  background-color: rgb(79, 61, 116);
  color: rgb(235, 221, 255);
}
[data-md-theme=dark] .md-fab[data-md-color=primary]:hover {
  color: rgb(235, 221, 255);
  background-color: #5b4a7f;
}
[data-md-theme=dark] .md-fab[data-md-color=primary]:focus {
  color: rgb(235, 221, 255);
  background-color: #5f4d82;
}
[data-md-theme=dark] .md-fab[data-md-color=primary]:active {
  color: rgb(235, 221, 255);
  background-color: #5f4d82;
}
[data-md-theme=dark] .md-fab[data-md-color=secondary] {
  background-color: rgb(75, 67, 88);
  color: rgb(233, 222, 248);
}
[data-md-theme=dark] .md-fab[data-md-color=secondary]:hover {
  color: rgb(233, 222, 248);
  background-color: #584f65;
}
[data-md-theme=dark] .md-fab[data-md-color=secondary]:focus {
  color: rgb(233, 222, 248);
  background-color: #5b5368;
}
[data-md-theme=dark] .md-fab[data-md-color=secondary]:active {
  color: rgb(233, 222, 248);
  background-color: #5b5368;
}
[data-md-theme=dark] .md-fab[data-md-color=tertiary] {
  background-color: rgb(100, 59, 70);
  color: rgb(255, 217, 225);
}
[data-md-theme=dark] .md-fab[data-md-color=tertiary]:hover {
  color: rgb(255, 217, 225);
  background-color: #704852;
}
[data-md-theme=dark] .md-fab[data-md-color=tertiary]:focus {
  color: rgb(255, 217, 225);
  background-color: #744b56;
}
[data-md-theme=dark] .md-fab[data-md-color=tertiary]:active {
  color: rgb(255, 217, 225);
  background-color: #744b56;
}

.md-snackbar {
  display: none;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  border-radius: 4px;
  box-sizing: border-box;
  align-items: center;
  padding: 16px;
  margin: 16px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: "Roboto";
  line-height: 20px;
  font-size: 14px;
  letter-spacing: 0.25px;
  font-weight: 400;
}
[data-md-theme=light] .md-snackbar {
  box-shadow: rgba(0, 0, 0, 0.2) 0 6px 9px 0;
  background-color: rgb(50, 47, 53);
  color: rgb(245, 239, 247);
}
[data-md-theme=dark] .md-snackbar {
  box-shadow: rgba(0, 0, 0, 0.2) 0 6px 9px 0;
  background-color: rgb(231, 224, 232);
  color: rgb(50, 47, 53);
}
.md-snackbar--visible {
  display: grid;
}
.md-snackbar__action {
  grid-row: 1;
  grid-column: 2;
  justify-self: end;
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: transparent;
  margin-right: 0;
  box-sizing: border-box;
  border: 0;
}
[data-md-theme=light] .md-snackbar__action {
  color: rgb(211, 188, 253);
}
[data-md-theme=dark] .md-snackbar__action {
  color: rgb(104, 84, 142);
}
.md-snackbar__action:hover {
  cursor: pointer;
}
.md-snackbar__action--long {
  grid-row: 2;
  grid-column: span 2;
}

.md-tabs {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.md-tabs__button {
  box-sizing: border-box;
  flex: 1;
  border: 0;
  background-color: transparent;
}
[data-md-theme=light] .md-tabs__button {
  color: rgb(73, 69, 78);
}
[data-md-theme=dark] .md-tabs__button {
  color: rgb(203, 196, 207);
}
.md-tabs__button:not(:disabled) {
  cursor: pointer;
}
.md-tabs__icon {
  font-size: 24px;
}
.md-tabs__text {
  font-family: "Roboto";
  line-height: 20px;
  font-size: 14px;
  letter-spacing: 0.1px;
  font-weight: 500;
  align-content: center;
}
.md-tabs__nav {
  display: flex;
  flex-direction: row;
  height: 48px;
}
[data-md-theme=light] .md-tabs__nav {
  border-bottom: 1px solid rgb(203, 196, 207);
  background-color: rgb(254, 247, 255);
}
[data-md-theme=dark] .md-tabs__nav {
  border-bottom: 1px solid rgb(73, 69, 78);
  background-color: rgb(21, 18, 24);
}
.md-tabs__nav[data-md-type=primary] .md-tabs__button {
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
}
.md-tabs__nav[data-md-type=primary] .md-tabs__button::after {
  content: "";
  height: 3px;
  display: block;
  border-radius: 9999px 9999px 0 0;
  background-color: transparent;
  min-width: 24px;
  margin: 0 2px;
}
[data-md-theme=light] .md-tabs__nav[data-md-type=primary] .md-tabs__button {
  background-color: transparent;
}
[data-md-theme=light] .md-tabs__nav[data-md-type=primary] .md-tabs__button:hover {
  background-color: rgba(29, 27, 32, 0.08);
}
[data-md-theme=light] .md-tabs__nav[data-md-type=primary] .md-tabs__button:focus {
  background-color: rgba(29, 27, 32, 0.1);
}
[data-md-theme=light] .md-tabs__nav[data-md-type=primary] .md-tabs__button:active {
  color: rgb(29, 27, 32);
  background-color: rgba(104, 84, 142, 0.1);
}
[data-md-theme=light] .md-tabs__nav[data-md-type=primary] .md-tabs__button--selected {
  background-color: transparent;
  color: rgb(104, 84, 142);
}
[data-md-theme=light] .md-tabs__nav[data-md-type=primary] .md-tabs__button--selected:hover {
  color: rgb(104, 84, 142);
  background-color: rgba(104, 84, 142, 0.08);
}
[data-md-theme=light] .md-tabs__nav[data-md-type=primary] .md-tabs__button--selected:focus {
  color: rgb(104, 84, 142);
  background-color: rgba(104, 84, 142, 0.1);
}
[data-md-theme=light] .md-tabs__nav[data-md-type=primary] .md-tabs__button--selected:active {
  color: rgb(104, 84, 142);
  background-color: rgba(104, 84, 142, 0.1);
}
[data-md-theme=light] .md-tabs__nav[data-md-type=primary] .md-tabs__button--selected::after {
  content: "";
  height: 3px;
  display: block;
  border-radius: 9999px 9999px 0 0;
  background-color: rgb(104, 84, 142);
  min-width: 24px;
  margin: 0 2px;
}
[data-md-theme=light] .md-tabs__nav[data-md-type=primary] .md-tabs__button--selected:focus::after {
  content: "";
  height: 3px;
  display: block;
  border-radius: 9999px 9999px 0 0;
  background-color: rgb(99, 91, 112);
  min-width: 24px;
  margin: 0 2px;
}
[data-md-theme=dark] .md-tabs__nav[data-md-type=primary] .md-tabs__button {
  background-color: transparent;
}
[data-md-theme=dark] .md-tabs__nav[data-md-type=primary] .md-tabs__button:hover {
  background-color: rgba(231, 224, 232, 0.08);
}
[data-md-theme=dark] .md-tabs__nav[data-md-type=primary] .md-tabs__button:focus {
  background-color: rgba(231, 224, 232, 0.1);
}
[data-md-theme=dark] .md-tabs__nav[data-md-type=primary] .md-tabs__button:active {
  color: rgb(231, 224, 232);
  background-color: rgba(211, 188, 253, 0.1);
}
[data-md-theme=dark] .md-tabs__nav[data-md-type=primary] .md-tabs__button--selected {
  background-color: transparent;
  color: rgb(211, 188, 253);
}
[data-md-theme=dark] .md-tabs__nav[data-md-type=primary] .md-tabs__button--selected:hover {
  color: rgb(211, 188, 253);
  background-color: rgba(211, 188, 253, 0.08);
}
[data-md-theme=dark] .md-tabs__nav[data-md-type=primary] .md-tabs__button--selected:focus {
  color: rgb(211, 188, 253);
  background-color: rgba(211, 188, 253, 0.1);
}
[data-md-theme=dark] .md-tabs__nav[data-md-type=primary] .md-tabs__button--selected:active {
  color: rgb(211, 188, 253);
  background-color: rgba(211, 188, 253, 0.1);
}
[data-md-theme=dark] .md-tabs__nav[data-md-type=primary] .md-tabs__button--selected::after {
  content: "";
  height: 3px;
  display: block;
  border-radius: 9999px 9999px 0 0;
  background-color: rgb(211, 188, 253);
  min-width: 24px;
  margin: 0 2px;
}
[data-md-theme=dark] .md-tabs__nav[data-md-type=primary] .md-tabs__button--selected:focus::after {
  content: "";
  height: 3px;
  display: block;
  border-radius: 9999px 9999px 0 0;
  background-color: rgb(205, 194, 219);
  min-width: 24px;
  margin: 0 2px;
}
.md-tabs__nav[data-md-type=primary]:has(.md-tabs__icon) {
  height: 64px;
}
.md-tabs__nav[data-md-type=primary]:has(.md-tabs__icon) .md-tabs__button {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.md-tabs__nav[data-md-type=primary]:has(.md-tabs__icon) .md-tabs__icon {
  align-content: end;
}
.md-tabs__nav[data-md-type=primary]:has(.md-tabs__icon) .md-tabs__text {
  align-content: start;
}
.md-tabs__nav[data-md-type=secondary] {
  height: 48px;
}
.md-tabs__nav[data-md-type=secondary] .md-tabs__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
[data-md-theme=light] .md-tabs__nav[data-md-type=secondary] .md-tabs__button {
  background-color: transparent;
}
[data-md-theme=light] .md-tabs__nav[data-md-type=secondary] .md-tabs__button:hover {
  color: rgb(29, 27, 32);
  background-color: rgba(29, 27, 32, 0.08);
}
[data-md-theme=light] .md-tabs__nav[data-md-type=secondary] .md-tabs__button:focus {
  color: rgb(29, 27, 32);
  background-color: rgba(29, 27, 32, 0.1);
}
[data-md-theme=light] .md-tabs__nav[data-md-type=secondary] .md-tabs__button:active {
  color: rgb(29, 27, 32);
  background-color: rgba(29, 27, 32, 0.1);
}
[data-md-theme=light] .md-tabs__nav[data-md-type=secondary] .md-tabs__button--selected {
  color: rgb(29, 27, 32);
  box-shadow: inset 0px -3px 0px 0px rgb(104, 84, 142);
}
[data-md-theme=light] .md-tabs__nav[data-md-type=secondary] .md-tabs__button--selected:focus {
  box-shadow: inset 0px -3px 0px 0px rgb(99, 91, 112);
}
[data-md-theme=dark] .md-tabs__nav[data-md-type=secondary] .md-tabs__button {
  background-color: transparent;
}
[data-md-theme=dark] .md-tabs__nav[data-md-type=secondary] .md-tabs__button:hover {
  color: rgb(231, 224, 232);
  background-color: rgba(231, 224, 232, 0.08);
}
[data-md-theme=dark] .md-tabs__nav[data-md-type=secondary] .md-tabs__button:focus {
  color: rgb(231, 224, 232);
  background-color: rgba(231, 224, 232, 0.1);
}
[data-md-theme=dark] .md-tabs__nav[data-md-type=secondary] .md-tabs__button:active {
  color: rgb(231, 224, 232);
  background-color: rgba(231, 224, 232, 0.1);
}
[data-md-theme=dark] .md-tabs__nav[data-md-type=secondary] .md-tabs__button--selected {
  color: rgb(231, 224, 232);
  box-shadow: inset 0px -3px 0px 0px rgb(211, 188, 253);
}
[data-md-theme=dark] .md-tabs__nav[data-md-type=secondary] .md-tabs__button--selected:focus {
  box-shadow: inset 0px -3px 0px 0px rgb(205, 194, 219);
}
.md-tabs__page {
  padding: 16px;
  display: none;
}
.md-tabs__page--selected {
  display: block;
}

/* pages */
/* themes */