@use "sys" as *;

@function create-list($start, $end, $step, $prefix: "", $suffix: "") {
    $list: null;
    $i: $start;

    @while ($i <= $end) {
        $value: #{$prefix}#{$i}#{$suffix};

        @if ($list == null) {
            $list: $value;
        } @else {
            $list: append($list, $value);
        }

        $i: $i + $step;
    }

    @return $list;
}

@function opacity($percent) {
    @return 100% - $percent;
}

@function mix-color($default, $mix, $state) {
    $state-name: $state;

    @if ($state-name == "active") {
        $state-name: "pressed";
    }

    @return mix(
        $default,
        $mix,
        opacity(sys("state", $state-name, "state-layer-opacity"))
    );
}

@function sp-to-rem($sp) {
    @return $sp / 16;
}
