@use "functions" as *;
@use "sys" as *;
@use "../themes";

@mixin props($value, $props...) {
    @each $prop in $props {
        #{$prop}: #{$value};
    }
}

@mixin square($size) {
    width: $size;
    height: $size;
    line-height: $size;
}

@mixin side-radius($side, $value) {
    @if ($side == "left") {
        border-top-left-radius: #{$value};
        border-bottom-left-radius: #{$value};
    } @else if($side == "right") {
        border-top-right-radius: #{$value};
        border-bottom-right-radius: #{$value};
    } @else if($side == "top") {
        border-top-left-radius: #{$value};
        border-top-right-radius: #{$value};
    } @else if($side == "bottom") {
        border-bottom-left-radius: #{$value};
        border-bottom-right-radius: #{$value};
    }
}

@mixin font-styling($typescale, $prominent: false) {
    $font: sys("typescale", $typescale);

    font-family: map-get($font, "font");
    line-height: map-get($font, "line-height");
    font-size: map-get($font, "size");
    letter-spacing: map-get($font, "tracking");

    @if ($prominent) {
        font-weight: map-get($font, "weight-prominent");
    } @else {
        font-weight: map-get($font, "weight");
    }
}

@mixin font($type) {
    &--large {
        @include font-styling("#{$type}-large");
    }

    &--medium {
        @include font-styling("#{$type}-medium");
    }

    &--small {
        @include font-styling("#{$type}-small");
    }
}

@mixin mix-states(
    $background,
    $mix,
    $set-color: false,
    $set-state-color: true,
    $states...
) {
    @if (length($states) == 0) {
        $states: "hover", "focus", "active";
    }

    background-color: $background;

    @if ($set-color) {
        color: $mix;
    }

    @each $state in $states {
        &:#{$state} {
            @if ($set-state-color) {
                color: $mix;
            }

            background-color: mix-color($background, $mix, $state);
        }
    }
}

@mixin mix-colors($default, $states) {
    color: $states;
    background-color: $default;

    &:hover {
        background-color: mix(
            $default,
            $states,
            opacity(sys("state", "hover", "state-layer-opacity"))
        );
    }

    &:focus {
        background-color: mix(
            $default,
            $states,
            opacity(sys("state", "focus", "state-layer-opacity"))
        );
    }

    &:active {
        background-color: mix(
            $default,
            $states,
            opacity(sys("state", "pressed", "state-layer-opacity"))
        );
    }
}

@mixin elevation($elevation, $negative-offset: false) {
    $offset: sys("elevation", "level#{$elevation}");
    box-shadow: rgba(themes.color("shadow"), 0.2) 0
        if($negative-offset, -$offset, $offset) floor($offset * 1.5) 0;
}

@mixin indicator($color, $primary: false) {
    $height: sys("state", "focus-indicator", "thickness");

    @if ($primary) {
        $radius: sys("shape", "corner", "full");

        &::after {
            content: "";
            height: $height;
            display: block;
            border-radius: $radius $radius 0 0;
            background-color: $color;
            min-width: 24px;
            margin: 0 2px;
        }
    } @else {
        box-shadow: inset 0px $height * -1 0px 0px $color;
    }
}

@mixin divider {
    border-bottom: 1px solid themes.color("outline-variant");
}

@mixin toggle-styling($disabled-overrides: ()) {
    &:disabled {
        @if (not map-has-key($disabled-overrides, "background-color")) {
            background-color: rgba(
                themes.color("on-surface"),
                sys("state", "disabled", "container-opacity")
            );
        }

        @if (not map-has-key($disabled-overrides, "color")) {
            color: rgba(
                themes.color("on-surface"),
                sys("state", "disabled", "label-opacity")
            );
        }

        @if ($disabled-overrides) {
            @each $property, $value in $disabled-overrides {
                #{$property}: #{$value};
            }
        }
    }

    &:not(:disabled) {
        @content;
    }
}
