/// ============================================================================
/// @file           abstracts/_placeholders.scss
/// @description    Stores placeholders for styling elements.
/// ============================================================================

@use "./mixins" as *;
@use "./sys" as *;

%md-icon {
    $default-size: 24px;

    display: flex;
    align-items: center;
    justify-content: center;

    @include square($default-size);

    border: 0;
    border-radius: sys("shape", "corner", "full");
    background-color: transparent;
    font-family: "Material Symbols Outlined", sans-serif;
    font-size: $default-size;
    user-select: none;
}
