$sys: (
    elevation: (
        level1: 1px,
        level2: 3px,
        level3: 6px,
        level4: 8px,
        level5: 12px,
    ),
    padding: (
        xs: 1px,
        sm: 2px,
        md: 4px,
        lg: 8px,
        xl: 16px,
    ),
    components: (
        button: (
            height: 40px,
            padding: 24px,
        ),
        tabs: (
            dividerHeight: 1px,
            primaryHeight: 64px,
            secondaryHeight: 48px,
            indicatorHeight: 3px,
        ),
    ),
    state: (
        disabled: (
            outlineOpacity: 0.12,
            containerOpacity: 0.12,
            labelOpacity: 0.38,
        ),
        hover: (
            stateLayerOpacity: 8%,
        ),
        focus: (
            stateLayerOpacity: 10%,
        ),
        pressed: (
            stateLayerOpacity: 10%,
        ),
    ),
);

@function sys($properties...) {
    $result: $sys;

    @each $prop in $properties {
        $result: map-get($result, $prop);
    }

    @return $result;
}

@function opacity($percent) {
    @return 100% - $percent;
}
