$sys: (
    components: (
        button: (
            height: 40px,
            padding: 24px,
        ),
        tabs: (
            divider-height: 1px,
            indicator-height: 3px,
            primary-height: 64px,
            secondary-height: 48px,
        ),
    ),
    elevation: (
        level1: 1px,
        level2: 3px,
        level3: 6px,
        level4: 8px,
        level5: 12px,
    ),
    padding: (
        xs: 1px,
        sm: 2px,
        md: 4px,
        lg: 8px,
        xl: 16px,
    ),
    state: (
        disabled: (
            container-opacity: 0.12,
            label-opacity: 0.38,
            outline-opacity: 0.12,
        ),
        focus: (
            state-layer-opacity: 10%,
        ),
        hover: (
            state-layer-opacity: 8%,
        ),
        pressed: (
            state-layer-opacity: 10%,
        ),
    ),
    typescale: (
        display-large: (
            font: map-get($ref, "typeface", "brand"),
            line-height: 64pt,
            size: 57pt,
            tracking: -0.25pt,
            weight: map-get($ref, "typeface", "weight-regular"),
        ),
        display-medium: (
            font: map-get($ref, "typeface", "brand"),
            line-height: 52pt,
            size: 45pt,
            tracking: 0pt,
            weight: map-get($ref, "typeface", "weight-regular"),
        ),
        display-small: (
            font: map-get($ref, "typeface", "brand"),
            line-height: 44pt,
            size: 36pt,
            tracking: 0pt,
            weight: map-get($ref, "typeface", "weight-regular"),
        ),
        headline-large: (
            font: map-get($ref, "typeface", "brand"),
            line-height: 40pt,
            size: 32pt,
            tracking: 0pt,
            weight: map-get($ref, "typeface", "weight-regular"),
        ),
        headline-medium: (
            font: map-get($ref, "typeface", "brand"),
            line-height: 36pt,
            size: 28pt,
            tracking: 0pt,
            weight: map-get($ref, "typeface", "weight-regular"),
        ),
        headline-small: (
            font: map-get($ref, "typeface", "brand"),
            line-height: 32pt,
            size: 24pt,
            tracking: 0pt,
            weight: map-get($ref, "typeface", "weight-regular"),
        ),
        title-large: (
            font: map-get($ref, "typeface", "brand"),
            line-height: 28pt,
            size: 22pt,
            tracking: 0pt,
            weight: map-get($ref, "typeface", "weight-regular"),
        ),
        title-medium: (
            font: map-get($ref, "typeface", "brand"),
            line-height: 24pt,
            size: 16pt,
            tracking: 0.15pt,
            weight: map-get($ref, "typeface", "weight-medium"),
        ),
        title-small: (
            font: map-get($ref, "typeface", "brand"),
            line-height: 20pt,
            size: 14pt,
            tracking: 0.1pt,
            weight: map-get($ref, "typeface", "weight-medium"),
        ),
        body-large: (
            font: map-get($ref, "typeface", "brand"),
            line-height: 24pt,
            size: 16pt,
            tracking: 0.5pt,
            weight: map-get($ref, "typeface", "weight-regular"),
        ),
        body-medium: (
            font: map-get($ref, "typeface", "brand"),
            line-height: 20pt,
            size: 14pt,
            tracking: 0.25pt,
            weight: map-get($ref, "typeface", "weight-regular"),
        ),
        body-small: (
            font: map-get($ref, "typeface", "brand"),
            line-height: 16pt,
            size: 12pt,
            tracking: 0.4pt,
            weight: map-get($ref, "typeface", "weight-regular"),
        ),
        label-large: (
            font: map-get($ref, "typeface", "brand"),
            line-height: 20pt,
            size: 14pt,
            tracking: 0.1pt,
            weight: map-get($ref, "typeface", "weight-medium"),
            weight-prominent: map-get($ref, "typeface", "weight-bold"),
        ),
        label-medium: (
            font: map-get($ref, "typeface", "brand"),
            line-height: 16pt,
            size: 12pt,
            tracking: 0.5pt,
            weight: map-get($ref, "typeface", "weight-medium"),
            weight-prominent: map-get($ref, "typeface", "weight-bold"),
        ),
        label-small: (
            font: map-get($ref, "typeface", "brand"),
            line-height: 16pt,
            size: 11pt,
            tracking: 0.5pt,
            weight: map-get($ref, "typeface", "weight-medium"),
        ),
    ),
);

@function sys($properties...) {
    @return map-get($sys, $properties...);
}
