$sys: (
    components: (
        button: (
            height: 40px,
            padding: 24px,
        ),
        tabs: (
            divider-height: 1px,
            indicator-height: 3px,
            primary-height: 64px,
            secondary-height: 48px,
        ),
    ),
    elevation: (
        level1: 1px,
        level2: 3px,
        level3: 6px,
        level4: 8px,
        level5: 12px,
    ),
    padding: (
        xs: 1px,
        sm: 2px,
        md: 4px,
        lg: 8px,
        xl: 16px,
    ),
    state: (
        disabled: (
            container-opacity: 0.12,
            label-opacity: 0.38,
            outline-opacity: 0.12,
        ),
        focus: (
            state-layer-opacity: 10%,
        ),
        hover: (
            state-layer-opacity: 8%,
        ),
        pressed: (
            state-layer-opacity: 10%,
        ),
    ),
);

@function sys($properties...) {
    $result: $sys;

    @each $prop in $properties {
        $result: map-get($result, $prop);
    }

    @return $result;
}

@function opacity($percent) {
    @return 100% - $percent;
}
