/// ============================================================================
/// @file           abstracts/_variables.scss
/// @description    Project wide variable declarations.
/// ============================================================================

// general
$border-styles: "dashed", "dotted", "double", "groove", "inset", "outset",
    "ridge", "solid";

// icons
$icon__font-size: 24px;

// md-icon-button
$icon-button__styles: "filled", "tonal", "outlined";
$icon-button__width: 40px;
$icon-button--small__width: calc($icon-button__width / 2);
$icon-button--small__half: calc($icon-button--small__width / 2);

// md-checkbox
$checkbox__width: 18px;
$checkbox__margin: 16px;
