/// ============================================================================
/// @file           abstracts/_variables.scss
/// @description    Project wide variable declarations.
/// ============================================================================

// overrides
/// Asset location from the top level Sass file.
$assets: "./assets" !default;

// general
$border-styles: "dashed", "dotted", "double", "groove", "inset", "outset",
    "ridge", "solid";

// symbols
$symbol__padding: 2px; // padding added to Material Symbols by Google
$symbol__padding-double: calc($symbol__padding * 2);
$symbol__font-size: 24px + $symbol__padding-double;

// md-icon-button
$icon-button__styles: "filled", "tonal", "outlined";
$icon-button--small__width: 20px;
$icon-button--small__half: calc($icon-button--small__width / 2);

// md-checkbox
$checkbox__width: 18px;
$checkbox__margin: 16px;
