/// ============================================================================
/// @file           Reset styles for default elements.
/// ============================================================================

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

button:not(:disabled) {
    cursor: pointer;
}

hr {
    border: 0;
}

pre code {
    white-space: pre-line;
}
