/// ============================================================================
/// @file           Stores placeholders for styling elements.
/// ============================================================================

@use "./mixins" as *;
@use "./sys" as *;
@use "./variables" as *;

%md-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    @include square($icon__size, true);

    border: 0;
    border-radius: sys("shape", "corner", "full");
    background-color: transparent;
    font-family: "Material Symbols Outlined", sans-serif;
    user-select: none;
}
