@use "../abstracts" as *;
@use "../themes";

// defaults to small style
.md-app-bar {
    $parent: &;
    $gap: 4px;
    $button-size: 48px;
    $headline-margin: 0 16px;

    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: $gap;
    box-sizing: border-box;
    padding: $gap;
    height: 64px;
    align-items: center;

    @include themes.themify() {
        @include themes.colorify("surface");
    }

    &__icon {
        grid-row: 1;
        border: 0;
        font-size: calc($button-size / 2);
        border-radius: sys("shape", "corner", "full");
        @include square($button-size);

        @include themes.themify() {
            color: themes.color("on-surface");
            @include mix-states(transparent, themes.color("on-surface"));
        }
    }

    &__headline {
        grid-row: 1;
        grid-column: 2;
        @include font-styling("title-large");
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        &:first-child {
            margin: $headline-margin;
        }
    }

    &__trailing {
        grid-column: 3;
        display: flex;
        flex-direction: row;
        justify-content: end;
        gap: $gap;

        #{$parent}__icon {
            @include themes.themify() {
                color: themes.color("on-surface-variant");
            }
        }
    }

    &[data-md-type="center"] {
        text-align: center;
    }

    &[data-md-type="medium"],
    &[data-md-type="large"] {
        grid-template-rows: auto 1fr;
        align-items: end;

        #{$parent}__icon:first-child {
            grid-column: span 2;
        }

        #{$parent}__headline {
            grid-column: span 3;
            grid-row: 2;
            align-content: end;
            margin: $headline-margin;
        }
    }

    &[data-md-type="medium"] {
        height: 112px;
        padding-bottom: 24px;

        #{$parent}__headline {
            @include font-styling("headline-small");
        }
    }

    &[data-md-type="large"] {
        height: 152px;
        padding-bottom: 28px;

        #{$parent}__headline {
            @include font-styling("headline-medium");
        }
    }
}
