/// ============================================================================
/// @file           components/_banner.scss
/// @description    Material Design banner component.
/// @modifiers      visible: display the banner
/// @elements       icon: large left icon
///                 text: center text
///                 actions: container for action buttons
///                 action: action button
/// ============================================================================

@use "../abstracts" as *;
@use "../themes";

.md-banner {
    display: grid;
    grid-template-rows: 2;
    grid-template-columns: auto 1fr;
    padding: 16px;
    padding-right: 24px;
    gap: 16px;

    @include font-styling("title-small");

    @include themes.themify {
        color: themes.color("on-surface");
        background-color: themes.color("surface-container");

        @include container-backgrounds;
        @include divider;
    }

    &:not(&--visible) {
        @include hidden;
    }

    &__icon {
        @include square(56px, true);

        user-select: none;
        grid-column: 1;
        grid-row: span 2;
    }

    &__text {
        grid-column: 2;
        grid-row: 1;
        padding-top: 8px;
    }

    &__actions {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        gap: 32px;
        grid-column: 2;
        grid-row: 2;
    }

    &__action {
        @include font-styling("label-large");

        background-color: transparent;
        border: 0;

        @include themes.themify {
            color: themes.color("primary");
        }
    }
}
