@use "../abstracts" as *;
@use "../themes";

.material-button {
    $parent: &;
    $height: 40px;
    $icon-size: 18px;
    $gap: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    height: $height;
    border-radius: $height;
    padding: 0 24px;
    border: 0;
    cursor: pointer;
    width: max-content;
    gap: $gap;

    &__icon {
        @include square($icon-size);
        font-size: $icon-size;
        margin-left: -$gap;
    }

    &:disabled {
        cursor: default;
    }

    @include themes.themify {
        &--elevated {
            @include toggle-styling() {
                @include mix-colors(
                    themes.color("surface-container-low"),
                    themes.color("primary")
                );
                @include elevation(1);
            }
        }

        &--filled {
            @include toggle-styling() {
                @include mix-colors(
                    themes.color("primary"),
                    themes.color("on-primary")
                );

                &:hover {
                    @include elevation(1);
                }
            }
        }

        &--tonal {
            @include toggle-styling() {
                @include mix-colors(
                    themes.color("secondary-container"),
                    themes.color("on-secondary-container")
                );

                &:hover {
                    @include elevation(1);
                }
            }
        }

        &--outlined {
            @include toggle-styling(
                (
                    background-color: transparent,
                )
            ) {
                @include mix-colors(transparent, themes.color("primary"));
                border: 1px solid themes.color("outline");
            }
        }

        &--text {
            @include toggle-styling(
                (
                    background-color: transparent,
                )
            ) {
                @include mix-colors(transparent, themes.color("primary"));
                color: themes.color("primary");
            }
        }
    }
}
