@use "../abstracts" as *;
@use "../themes";

.md-button {
    $parent: &;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 40px;
    line-height: 40px;
    width: max-content;
    padding: 0 24px;
    gap: 8px;
    border: 0;
    border-radius: sys("shape", "corner", "full");

    @include font-styling("label-large");
    cursor: pointer;

    &:has(&__icon) {
        padding-left: 16px;
    }

    &__icon {
        $icon-size: 18px;

        @include square($icon-size);
        font-size: $icon-size;
    }

    &:disabled {
        cursor: default;
    }

    @include themes.themify() {
        &[data-md-type="elevated"] {
            @include enabled-styling() {
                @include mix-states(
                    themes.color("surface-container-low"),
                    themes.color("primary"),
                    true,
                    true
                );
                @include elevation(1);
            }
        }

        &[data-md-type="filled"] {
            @include enabled-styling() {
                @include mix-states(
                    themes.color("primary"),
                    themes.color("on-primary"),
                    true,
                    true
                );

                &:hover {
                    @include elevation(1);
                }
            }
        }

        &[data-md-type="tonal"] {
            @include enabled-styling() {
                @include mix-states(
                    themes.color("secondary-container"),
                    themes.color("on-secondary-container"),
                    true,
                    true
                );

                &:hover {
                    @include elevation(1);
                }
            }
        }

        &[data-md-type="outlined"] {
            @include enabled-styling(
                (
                    background-color: transparent,
                    border: 1px solid
                        rgba(
                            themes.color("on-surface"),
                            sys("state", "disabled", "outline-opacity")
                        ),
                )
            ) {
                @include mix-states(
                    transparent,
                    themes.color("primary"),
                    true,
                    true
                );

                border: 1px solid themes.color("outline");
            }
        }

        &[data-md-type="text"] {
            padding: 12px;

            &:has(#{$parent}__icon) {
                padding-right: 16px;
            }

            @include enabled-styling(
                (
                    background-color: transparent,
                )
            ) {
                @include mix-states(
                    transparent,
                    themes.color("primary"),
                    true,
                    true
                );
            }
        }
    }
}
