/// ============================================================================
/// @file           components/_checkbox.scss
/// @description    Material Design checkbox component.
///                 Note: Due to rendering limitations in most modern browsers,
///                 there are no modifiers or subelement classes.
/// ============================================================================

@use "../abstracts" as *;
@use "../themes";

.md-checkbox {
    // TODO: allow checkbox on right side with flex-direction: row-reverse
    &,
    label {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }

    @include themes.themify {
        color: themes.color("on-surface");
    }

    // restrict to only checkboxes
    input[type="checkbox"] {
        @include square($checkbox__width);

        @include themes.themify {
            accent-color: themes.color("primary");

            &:disabled {
                accent-color: rgba(
                    themes.color("on-surface"),
                    sys("state", "disabled", "label-opacity")
                );
            }
        }
    }

    // restrict to only labels
    label {
        &:not(:has(input)) {
            padding-left: $checkbox__margin;
        }

        input[type="checkbox"] {
            margin-right: $checkbox__margin;
        }
    }
}
