@use "../abstracts" as *;
@use "../themes";

.md-checkbox {
    // TODO: allow checkbox on right side with flex-direction: row-reverse
    &,
    label {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }

    @include themes.themify() {
        color: themes.color("on-surface");
    }

    // restrict to only labels
    label {
        &:not(:has(input)) {
            padding-left: 16px;
        }

        input[type="checkbox"] {
            margin-right: 16px;
        }
    }

    // restrict to only checkboxes
    input[type="checkbox"] {
        @include square(18px);

        @include themes.themify() {
            accent-color: themes.color("primary");

            &:disabled {
                accent-color: rgba(
                    themes.color("on-surface"),
                    sys("state", "disabled", "label-opacity")
                );
            }
        }
    }
}
