@use "../themes";

.material-container {
    @include themes.themify {
        background-color: themes.color("surface");
        color: themes.color("on-surface");
    }

    &--hfill {
        height: 100vh;
    }

    &--wfill {
        width: 100vh;
    }
}
