.material-container {
    @include themify {
        background-color: theme("surface");
        color: theme("on-surface");
    }

    &--hfill {
        height: 100vh;
    }

    &--wfill {
        width: 100vh;
    }
}
