@use "../abstracts" as *;
@use "../themes";

.md-icon-button {
    $parent: &;

    @include square(40px);
    border: 0;
    border-radius: sys("shape", "corner", "full");
    font-size: $icon__font-size;
    background-color: transparent;

    @include themes.themify() {
        @include enabled-styling(
            (
                background-color: transparent,
            )
        ) {
            @include mix-states(
                transparent,
                themes.color("on-surface-variant"),
                true,
                true
            );
        }
    }

    &--selected {
        font-variation-settings: "FILL" 1;

        @include themes.themify() {
            @include enabled-styling(
                (
                    background-color: transparent,
                )
            ) {
                @include mix-states(
                    transparent,
                    themes.color("primary"),
                    true,
                    true
                );
            }
        }
    }

    // not in MD3 specs
    &--small {
        @include square($icon-button--small__width);
        font-size: 16px;
    }

    @include themes.themify() {
        @include data("type", "filled") {
            @include enabled-styling() {
                @include mix-states(
                    themes.color("surface-container-highest"),
                    themes.color("primary"),
                    true,
                    true
                );
            }

            &#{$parent}--selected {
                @include enabled-styling() {
                    @include mix-states(
                        themes.color("primary"),
                        themes.color("on-primary"),
                        true,
                        true
                    );
                }
            }
        }

        @include data("type", "tonal") {
            @include enabled-styling() {
                @include mix-states(
                    themes.color("surface-container-highest"),
                    themes.color("on-surface-variant"),
                    true,
                    true
                );
            }

            &#{$parent}--selected {
                @include enabled-styling() {
                    @include mix-states(
                        themes.color("secondary-container"),
                        themes.color("on-secondary-container"),
                        true,
                        true
                    );
                }
            }
        }

        @include data("type", "outlined") {
            @include enabled-styling(
                (
                    background-color: transparent,
                    border: 1px solid
                        rgba(
                            themes.color("on-surface"),
                            sys("state", "disabled", "outline-opacity")
                        ),
                )
            ) {
                @include mix-states(
                    transparent,
                    themes.color("on-surface-variant"),
                    true,
                    true
                );

                border: 1px solid themes.color("outline");
            }

            &#{$parent}--selected {
                border: 0;

                @include enabled-styling() {
                    @include mix-states(
                        themes.color("inverse-surface"),
                        themes.color("inverse-on-surface"),
                        true,
                        true
                    );
                }
            }
        }
    }
}
