/// ============================================================================
/// @file           components/_menu.scss
/// @description
/// @data
/// @modifiers
/// @elements
/// ============================================================================

@use "../abstracts" as *;
@use "../themes";

// TODO: trailing icon AND trailing text
// TODO: state styles
.md-menu {
    $parent: &;
    $item-height: 48px;
    $padding: 8px;

    position: fixed;
    min-width: 112px;
    max-width: 280px;
    min-height: $item-height;
    padding: $padding 0;
    border-radius: sys("shape", "corner", "extra-small");
    user-select: none;
    overflow-y: auto;
    z-index: 1;

    @include themes.themify {
        @include elevation(2);

        background-color: themes.color("surface-container");
    }

    &:not(&--visible) {
        @include hidden;
    }

    &__section {
        &:not(:first-child) {
            padding-top: $padding;
        }

        &:not(:last-child) {
            padding-bottom: $padding;

            @include themes.themify {
                border-bottom: 1px solid themes.color("outline-variant");
            }
        }

        &:not(:has(#{$parent}__icon:first-child)) #{$parent}__label {
            grid-column: 1 / 3;
        }
    }

    &__item {
        display: grid;
        grid-template-columns: $icon__size 1fr $icon__size;
        align-items: center;
        height: $item-height;
        gap: 12px;
        padding: 0 12px;
        cursor: pointer;

        &:not(:has(#{$parent}__icon:last-child)) #{$parent}__label {
            grid-column-end: 4;
        }
    }

    &__label {
        @include font-styling("label-large");

        grid-column: 2;
        white-space: nowrap;
    }

    &__icon {
        @extend %md-icon;

        @include themes.themify {
            color: themes.color("on-surface-variant");
        }
    }

    &__submenu {
        @extend #{$parent};
    }
}
