@use "../abstracts" as *;
@use "../themes";

.md-snackbar {
    $parent: &;

    display: none;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    border-radius: sys("shape", "corner", "extra-small");
    box-sizing: border-box;
    align-items: center;
    padding: 16px;
    margin: 16px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    @include font-styling("body-medium");

    @include themes.themify() {
        @include elevation(3);
        background-color: themes.color("inverse-surface");
        color: themes.color("inverse-on-surface");
    }

    &--visible {
        display: grid;
    }

    &__action {
        grid-row: 1;
        grid-column: 2;
        justify-self: end;
        width: max-content;
        height: max-content;
        background-color: transparent;
        margin-right: 0;
        box-sizing: border-box;
        border: 0;

        @include themes.themify() {
            color: themes.color("inverse-primary");
        }

        &:hover {
            cursor: pointer;
        }

        &--long {
            grid-row: 2;
            grid-column: span 2;
        }
    }
}
