/// ============================================================================
/// @file           components/_table.scss
/// @description    Material Design data table component.
/// @data           checkboxes // TODO: checkboxes in table
///                     show checkboxes in the leftmost column
///                 sortable=[DEFAULT=false] [SIDE=right]
///                     allow sorting on a header cell; side determines where
///                     sorting indicators are placed next to headers
///                     DEFAULT: sorts the table by this column on load
///                     SIDE: left, right
/// ============================================================================

@use "../abstracts" as *;
@use "../themes";

.md-table {
    $parent: &;
    $padding: 16px;

    width: max-content;
    border-collapse: separate;
    border-radius: sys("shape", "corner", "extra-small");
    border-spacing: 0;

    @include themes.themify {
        background-color: themes.color("surface-container-low");
        color: themes.color("on-surface-variant");
        border: 1px solid themes.color("outline");
    }

    tr:hover {
        @include themes.themify {
            background-color: mix-color(
                transparent,
                themes.color("primary"),
                "hover"
            );
        }
    }

    th,
    td {
        padding: 0 $padding;
    }

    th {
        height: 56px;
        position: relative;
        user-select: none;

        @include font-styling("label-large");

        &[data-md-sortable] {
            $header-padding: calc(($padding * 2) + $icon__size);

            cursor: pointer;

            &:hover {
                @include themes.themify {
                    color: themes.color("primary");
                }
            }

            &::after {
                @extend %md-icon;

                position: absolute;
                top: calc(50% - ($icon__size / 2));
                content: "unfold_more";
            }

            &[data-md-order="ascending"]::after {
                content: "keyboard_arrow_down";
            }

            &[data-md-order="descending"]::after {
                content: "keyboard_arrow_up";
            }

            &[data-md-sortable~="left"] {
                padding-left: $header-padding;

                &::after {
                    left: $padding;
                }
            }

            &:not([data-md-sortable~="left"]) {
                padding-right: $header-padding;

                &::after {
                    right: $padding;
                }
            }
        }
    }

    td {
        height: 52px;

        @include font-styling("body-medium");
    }

    thead th,
    tr:not(:last-child) td {
        @include themes.themify {
            border-bottom: 1px solid themes.color("outline");
        }
    }
}
