/// ============================================================================
/// @file           components/_tabs.scss
/// @description    Material Design tab container component.
/// @data           type: navigation style
///                     options: primary, secondary
/// @elements       nav: navigation container
///                 button: navigation button
///                 icon: navigation button icon
///                 label: navigation button label
///                 page: tab page container
/// ============================================================================

@use "../abstracts" as *;
@use "../themes";

.md-tabs {
    $parent: &;

    display: flex;
    flex-direction: column;
    flex: 1;

    &__nav {
        display: flex;
        flex-direction: row;
        height: 48px;

        @include themes.themify {
            @include divider;

            background-color: themes.color("surface");
        }
    }

    &__button {
        box-sizing: border-box;
        flex: 1;
        border: 0;
        background-color: transparent;

        @include themes.themify {
            color: themes.color("on-surface-variant");
        }
    }

    &__icon {
        font-size: $icon__font-size;
    }

    &__label {
        @include font-styling("title-small");

        align-content: center;
    }

    &__page {
        display: block;
        padding: 16px;

        &:not(&--selected) {
            @include hidden;
        }
    }

    &[data-md-type="primary"] {
        #{$parent}__button {
            display: grid;
            grid-template-rows: 1fr;
            justify-content: center;

            @include indicator(transparent, true);

            @include themes.themify {
                @include mix-states(
                    transparent,
                    themes.color("on-surface"),
                    false,
                    false,
                    "hover",
                    "focus"
                );

                &:active {
                    color: themes.color("on-surface");
                    background-color: mix-color(
                        transparent,
                        themes.color("primary"),
                        "pressed"
                    );
                }

                &--selected {
                    @include indicator(themes.color("primary"), true);
                    @include mix-states(
                        transparent,
                        themes.color("primary"),
                        true,
                        true
                    );

                    &:focus {
                        @include indicator(themes.color("secondary"), true);
                    }
                }
            }
        }

        #{$parent}__nav:has(#{$parent}__icon) {
            height: 64px;

            #{$parent}__button {
                display: grid;
                grid-template-rows: 1fr 1fr;
            }

            #{$parent}__icon {
                align-content: end;
            }

            #{$parent}__label {
                align-content: start;
            }
        }
    }

    &[data-md-type="secondary"] {
        #{$parent}__nav {
            height: 48px;
        }

        #{$parent}__button {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4px;

            @include themes.themify {
                @include mix-states(
                    transparent,
                    themes.color("on-surface"),
                    false,
                    true
                );

                &--selected {
                    @include indicator(themes.color("primary"));

                    color: themes.color("on-surface");

                    &:focus {
                        @include indicator(themes.color("secondary"));
                    }
                }
            }
        }
    }
}
