/// ============================================================================
/// @file           components/_table.scss
/// @description    Material Design data table component.
/// @data           checkboxes // TODO: checkboxes in table
///                     show checkboxes in the leftmost column
///                 sortable=[SIDE=right] (on parent)
///                     allow sorting within the table
///                     SIDE: left, right
///                 sortable=[DEFAULT=false] (on header)
///                     allow sorting on a header cell
///                     DEFAULT: sorts the table by this column on load
/// @elements       header: row containing `th` cells
/// ============================================================================

@use "../abstracts" as *;
@use "../themes";

.md-table {
    $parent: &;
    $padding: 16px;
    $sortable-padding: calc(($padding * 2) + $icon__size);

    width: max-content;
    border-collapse: separate;
    border-radius: sys("shape", "corner", "extra-small");
    border-spacing: 0;

    @include themes.themify {
        background-color: themes.color("surface-container-low");
        color: themes.color("on-surface-variant");
        border: 1px solid themes.color("outline");
    }

    tr:hover {
        @include themes.themify {
            background-color: mix-color(
                transparent,
                themes.color("primary"),
                "hover"
            );
        }
    }

    th,
    td {
        padding: 0 $padding;
    }

    th {
        height: 56px;
        position: relative;
        user-select: none;

        @include font-styling("label-large");

        &[data-md-sortable] {
            padding-right: $sortable-padding;
            cursor: pointer;

            &:hover {
                @include themes.themify {
                    color: themes.color("primary");
                }
            }

            &::after {
                @extend %md-icon;

                position: absolute;
                top: calc(50% - ($icon__size / 2));
                right: $padding;
                content: "unfold_more";
            }

            &[data-md-order] {
                @include themes.themify {
                    color: themes.color("primary");
                }

                &[data-md-order="ascending"]::after {
                    content: "keyboard_arrow_down";
                }

                &[data-md-order="descending"]::after {
                    content: "keyboard_arrow_up";
                }
            }
        }
    }

    td {
        height: 52px;

        @include font-styling("body-medium");
    }

    thead th,
    tr:not(:last-child) td {
        @include themes.themify {
            border-bottom: 1px solid themes.color("outline");
        }
    }

    &[data-md-sortable="left"] {
        th[data-md-sortable] {
            padding-right: $padding;
            padding-left: $sortable-padding;

            &::after {
                right: auto;
                left: $padding;
            }
        }
    }
}
