@use "../abstracts" as *;
@use "../themes";

.material-tabs {
    $parent: &;

    display: grid;
    grid-template-columns: 1fr;
    flex: 1;

    &__nav {
        $nav: &;
        display: flex;
        flex-wrap: wrap;

        @include themes.themify {
            background-color: themes.color("surface");
            color: themes.color("on-surface");
        }

        &-button {
            display: grid;
            grid-template-rows: 1fr 1fr;
            justify-content: center;
            background-color: transparent;
            border: 0;
            flex: 1;

            &-icon,
            &-text {
                display: flex;
                justify-content: center;
            }

            &-icon {
                align-items: end;
            }

            &-text {
                align-items: center;
            }

            &:not(:disabled) {
                cursor: pointer;
            }
        }

        &--primary {
            height: sys("components", "tabs", "primary-height");

            #{$nav}-button {
                @include themes.themify {
                    @include mix-colors(
                        transparent,
                        themes.color("on-surface")
                    );

                    &:focus {
                        #{$nav}-button-text {
                            @include indicator(themes.color("secondary"));
                        }
                    }

                    &.current {
                        @include mix-colors(
                            transparent,
                            themes.color("primary")
                        );

                        #{$nav}-button-text {
                            @include indicator(themes.color("primary"));
                        }
                    }
                }
            }
        }

        &--secondary {
            height: sys("components", "tabs", "secondary-height");

            #{$nav}-button--active {
                @include themes.themify {
                    #{$nav}-button-text {
                        @include indicator(themes.color("primary"));
                    }
                }
            }
        }
    }

    &--top {
        grid-template-rows: auto 1fr;

        #{$parent}__nav {
            grid-row: 1;

            @include themes.themify {
                border-bottom: sys("components", "tabs", "divider-height") solid
                    themes.color("outline-variant");
            }
        }

        #{$parent}__content {
            grid-row: 2;
        }
    }

    &--bottom {
        grid-template-rows: 1fr auto;

        #{$parent}__nav {
            grid-row: 2;

            @include themes.themify {
                border-top: sys("components", "tabs", "divider-height") solid
                    themes.color("outline-variant");
            }
        }

        #{$parent}__content {
            grid-row: 1;
        }
    }

    &__page {
        display: none;

        &.current {
            display: block;
        }
    }
}
