/// ============================================================================
/// @file           components/_text-field.scss
/// @description    Material Design text field component.
/// @data           placeholder: where to show placeholder; defaults to both
///                     options: inside, top
///                 prefix: when to display prefix; defaults to always
///                     options: empty, not-empty
///                 suffix: when to display suffix; defaults to always
///                     options: empty, not-empty
/// @modifiers      filled: style as filled text field
/// @elements       container: container around the input box
///                 suffix: text or icon after input
///                 input: input box
///                 supporting: text underneath input box
/// ============================================================================

@use "../abstracts" as *;
@use "../themes";

// TODO: prefix/suffix text alignment
// TODO: invalid/valid trailing icons?
// TODO: enabled/disabled
// TODO: multiline with textarea
.md-text-field {
    $parent: &;
    $gap: 16px;
    $padding-with-icon: 12px;

    @mixin affix($location) {
        &[data-md-#{$location}~="empty"] {
            &:not(:has(input:placeholder-shown)) #{$parent}__#{$location} {
                @include hidden(true);
            }
        }

        &[data-md-#{$location}~="not-empty"] {
            &:has(input:placeholder-shown) #{$parent}__#{$location} {
                @include hidden(true);
            }
        }
    }

    position: relative;
    background-color: inherit;

    @include themes.themify {
        color: themes.color("on-surface-variant");
    }

    &--filled {
        // TODO: filled styles
    }

    &__container {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        min-height: 56px;
        width: max-content;
        margin-top: 8px;
        padding: 0 $gap;
        border-radius: sys("shape", "corner", "extra-small");
        box-sizing: border-box;
        background-color: inherit;

        @include themes.themify {
            border: 1px solid themes.color("outline");
        }

        &::before {
            $placeholder-padding: 4px;

            position: absolute;
            left: calc($gap - $placeholder-padding);
            top: -8px;
            padding: 0 $placeholder-padding;
            background-color: inherit;
            content: attr(data-md-placeholder);

            @include font-styling("body-small");

            @include themes.themify {
                color: themes.color("on-surface-variant");
            }
        }

        &:has(#{$parent}__icon:first-child) {
            padding-left: $padding-with-icon;
        }

        &:has(#{$parent}__icon:last-child) {
            padding-right: $padding-with-icon;
        }

        &:not(:has(input:disabled)) {
            cursor: pointer;

            &:hover:not(:has(input:focus)) {
                @include themes.themify {
                    border-color: themes.color("on-surface");
                }
            }
        }
    }

    &__icon {
        @extend %md-icon;

        @include themes.themify {
            color: themes.color("on-surface-variant");
        }
    }

    &__prefix {
        position: relative;
    }

    &__input {
        position: relative;
        background-color: inherit;
        border: 0;
        outline: none;

        @include font-styling("body-large");

        @include themes.themify {
            color: themes.color("on-surface");
            caret-color: themes.color("primary");
        }

        &::placeholder {
            opacity: 1;

            @include themes.themify {
                color: themes.color("on-surface-variant");
            }
        }
    }

    &__supporting {
        margin: 4px $gap 0;

        @include font-styling("body-small");
    }

    &:has(input:disabled) {
        @include themes.themify {
            color: opacity(themes.color("on-surface"), "label");

            #{$parent}__container {
                border-color: opacity(themes.color("on-surface"), "outline");
            }
        }
    }

    &:has(input:focus) {
        #{$parent}__container {
            @include themes.themify {
                border: 2px solid themes.color("primary");

                &::before {
                    color: themes.color("primary");
                }
            }
        }
    }

    &[data-md-prefix] {
        @include affix("prefix");
    }

    &[data-md-suffix] {
        @include affix("suffix");
    }
}
