@use "../abstracts" as *;
@use "../themes";
@use "icon-button";

// TODO: (maybe) add options for:
//      dividers between lines
.md-tree {
    $parent: &;
    $gap: 8px;
    $margins: (
        small: 8px,
        medium: 16px,
        large: 32px,
    );
    $indicator-widths: (
        small: 1px,
        medium: 2px,
        large: 3px,
    );
    $indicator-colors: "primary", "secondary", "tertiary", "on-surface";

    flex: 1;

    &,
    &__subtree {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: calc($gap / 2);
    }

    @each $name, $size in $margins {
        &[data-md-margin="#{$name}"] #{$parent}__subtree {
            margin-left: $icon-button--small__half;
            padding-left: calc($size - $icon-button--small__half);
        }
    }

    @include themes.themify() {
        @each $color in $indicator-colors {
            &[data-md-indicator-color="#{$color}"] #{$parent}__subtree {
                border-left-color: themes.color($color);
            }
        }

        @each $name, $size in $indicator-widths {
            &[data-md-indicator-size="#{$name}"] #{$parent}__subtree {
                border-left-width: #{$size};
                margin-left: calc($icon-button--small__half - ($size / 2));
            }
        }

        @each $style in $border-styles {
            &[data-md-indicator-style="#{$style}"] #{$parent}__subtree {
                border-left-style: #{$style};
            }
        }
    }

    &__subtree {
        border-left: 1px dotted transparent;
    }

    .md-checkbox,
    &__label {
        &:not(:has(.md-icon-button)) {
            margin-left: calc($icon-button--small__width + $gap);
        }
    }

    .md-checkbox {
        #{$parent}__label {
            padding-left: 0;
            margin-left: calc($icon__font-size / 2 - $gap);
        }

        &:has(.md-icon-button) #{$parent}__label {
            margin-left: calc($icon__font-size / 2);
        }

        input[type="checkbox"] {
            margin-right: 0;
        }
    }

    &__label {
        @include font-styling("body-medium");
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: $gap;
    }
}
