@use "../abstracts" as *;
@use "../themes";
@use "icon-button";

// TODO: (maybe) add options for:
//      dividers between lines
//      depth indicators
//      button styles
.md-tree {
    $parent: &;
    $gap: 8px;
    $margins: (
        small: 8px,
        medium: 16px,
        large: 32px,
    );

    flex: 1;

    &,
    &__subtree {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: calc($gap / 2);
    }

    &__text {
        @include font-styling("body-medium");
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: $gap;

        &:not(:has(#{$parent}__button)) {
            padding-left: calc($icon-button--small__width + $gap);
        }
    }

    &__button {
        @extend .md-icon-button;
        @extend .md-icon-button--small;
    }

    @each $name, $size in $margins {
        &[data-md-margin="#{$name}"] #{$parent}__subtree {
            margin-left: $icon-button--small__half;
            padding-left: calc($size - $icon-button--small__half);
        }
    }

    @include themes.themify() {
        @each $color in "primary", "secondary", "tertiary", "on-surface" {
            &[data-md-indicators="#{$color}"] #{$parent}__subtree {
                border-left: 1px dotted themes.color($color);
            }
        }
    }
}
