/// ============================================================================
/// @file           layout/_body.scss
/// @description    Material Design body component.
/// ============================================================================

@use "../abstracts" as *;
@use "../themes";

.md-body {
    // prevents border collapse
    display: flex;
    flex-direction: column;

    @include themes.themify(true) {
        @include themes.colorify("surface-container");
        @include container-backgrounds;
    }
}
