@use "../themes";

.md-body {
    // prevents border collapse
    display: flex;
    flex-direction: column;

    @include themes.themify(true) {
        background-color: themes.color("surface-container");
        color: themes.color("on-surface");
    }

    @each $color in "surface", "surface-variant", "background" {
        &[data-md-color="#{$color}"] {
            @include themes.themify(true) {
                @include themes.colorify($color);
            }
        }
    }
}
