@use "../abstracts" as *;

.md-fixed {
    $parent: &;
    $padding: 16px;

    position: fixed;
    display: flex;
    gap: calc($padding / 2);
    align-items: center;

    @include data("lr", "left") {
        left: $padding;
    }

    @include data("lr", "right") {
        right: $padding;
    }

    @include data("tb", "top") {
        top: $padding;
    }

    @include data("tb", "bottom") {
        bottom: $padding;
    }

    @include data("direction", "vertical") {
        flex-direction: column;

        &#{$parent}--reverse {
            flex-direction: column-reverse;
        }
    }

    @include data("direction", "horizontal") {
        flex-direction: row;

        &#{$parent}--reverse {
            flex-direction: row-reverse;
        }
    }
}
