/// ============================================================================
/// @file           layout/_fixed.scss
/// @description    Material Design fixed (floating) component.
/// @data           lr: left/right position
///                     options: left, right
///                 tb: top/bottom position
///                     options: top, bottom
///                 direction: flex direction
///                     options: vertical, horizontal
/// ============================================================================

@use "../abstracts" as *;

.md-fixed {
    $parent: &;
    $padding: 16px;

    position: fixed;
    display: flex;
    gap: calc($padding / 2);
    align-items: center;

    &[data-md-lr="left"] {
        left: $padding;
    }

    &[data-md-lr="right"] {
        right: $padding;
    }

    &[data-md-tb="top"] {
        top: $padding;
    }

    &[data-md-tb="bottom"] {
        bottom: $padding;
    }

    &[data-md-direction="vertical"] {
        flex-direction: column;

        &#{$parent}--reverse {
            flex-direction: column-reverse;
        }
    }

    &[data-md-direction="horizontal"] {
        flex-direction: row;

        &#{$parent}--reverse {
            flex-direction: row-reverse;
        }
    }
}
