/// ============================================================================
/// @file           layout/_pane.scss
/// @description    Material Design pane component.
/// @data           background: background color
///                     options: primary, secondary, tertiary, error, surface,
///                              surface-container
/// @modifiers      fill: set margins to 0
/// @elements       content: elements inside the pane
/// ============================================================================

@use "../abstracts" as *;
@use "../themes";

.md-pane {
    $padding: 24px;

    overflow: hidden;
    margin: $padding;
    gap: 8px;

    @include themes.themify {
        @include container-backgrounds;
    }

    &[data-md-background] {
        border-radius: sys("shape", "corner", "large");
    }

    &__content {
        display: flex;
        flex-flow: column wrap;
        flex: 1;
        padding: $padding;
        gap: 8px;

        &--fill {
            padding: 0;
        }
    }

    &--fill {
        margin: 0;
    }
}
