@use "../abstracts" as *;
@use "../themes";

.md-pane {
    $parent: &;
    $padding: 24px;

    overflow: hidden;
    margin: $padding;
    border-radius: sys("shape", "corner", "large");
    gap: 8px;

    @include themes.themify() {
        @include container-backgrounds;
    }

    &__content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex: 1;
        padding: $padding;
        gap: 8px;

        &--fill {
            padding: 0;
        }
    }

    &--fill {
        margin: 0;
    }
}
